<!DOCTYPE html>
<html lang="{{ head.lang }}" class="no-js">
	<head>
		{% include "_head.njk" %}
	</head>
<body class="emerix-page">

	{% set page = pages.login %}

	{% from "components/_dialogs.njk" import dialog %}

	{{ dialog(page.dialogs[2]) }}

	<script>
		document.querySelector('.overlay').classList.add('active')
	</script>
</body>
</html>