@import '../vars';

.error-box {
	border-radius: $box-radius;
	border: 1px solid $red;
	background-color: $coral;
	padding: .5rem 1.5rem;
	color: $white;
	margin-bottom: 1rem;
}

.selectable-box {
	.box {
		cursor: pointer;

		transition: border-color $transition-fast;

		&.active {
			border-color: $violet;
		}
	}

	@media all and (max-width: $tabletWidth) {
		flex-direction: column;

		& > * {
			width: 100%;
		}
	}
}

.box {
	background-color: $white;
	border: 1px solid transparentize($silver, .85);
	padding: $box-padding;
	//margin: $box-margin;
	border-radius: $box-radius;
	box-shadow: .25rem .5rem 1rem transparentize($black, .9);

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}

	&:only-child {
		//width: calc(inherit - $box);
	}

	hr {
		margin-left: -$box-padding;
		margin-right: -$box-padding;
	}

}

@media all and (max-width: $tabletWidth) {
	.box {
		margin: 1.5rem;
		margin-left: 0;
		margin-right: 0;
		padding: 1rem;

		&:first-child,
		+ .box {
			margin-top: 0;
		}
	}
	/*.box {
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}*/
}