@import '../vars';

.box {
	background-color: $white;
	border: 1px solid transparentize($silver, .85);
	padding: 1rem;
	margin: .5rem;
	border-radius: $border-radius;
	box-shadow: 0px 2px 4px transparentize($black, .8);
}

@media all and (max-width: 598px) {
	.box {
		margin: 1.5rem;

		&:first-child,
		+ .box {
			margin-top: 0;
		}
	}
	/*.box {
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}*/
}