@import '../vars';

.box {
	background-color: $white;
	border: 1px solid transparentize($silver, .85);
	padding: 2rem;
	margin: .5rem;
	border-radius: $border-radius;
	box-shadow: 0px 2px 4px transparentize($black, .8);

	hr {
		background-color: $silver;
		margin-left: -1rem;
		margin-right: -1rem;
	}
}

@media all and (max-width: 598px) {
	.box {
		margin: 1.5rem;
		margin-left: 0;
		margin-right: 0;

		&:first-child,
		+ .box {
			margin-top: 0;
		}
	}
	/*.box {
		margin: 0;
		border-radius: 0;
		box-shadow: none;
	}*/
}