@import '../vars';

.breadcrumb-container {
    .title {
        margin-right: 1rem;
    }

    ul {
        position: relative;
        top: 6px;
    }

    .breadcrumb {
        position: relative;
        background-color: $lightgray;
        margin: 0 1rem;
        border-radius: 1rem;
        position: relative;
        width: .75rem;
        height: .75rem;
        top: -.3rem;
        font-size: 0;
        color: transparent;

        &:not(:first-child):before,
        &:not(:last-child):after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 1rem;
            height: 2px;
            background-color: $lightgray;
        }

        &:before {
            right: 100%;
        }

        &:after {
            left: 100%;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background-color: $orange;

            &:before,
            &:after {
            	background-color: $orange;
            }
        }

        & + :not(.active) {
            &:before {
                background-color: $lightgray;
                width: 2rem;
            }
        }
    }

}

@media all and (max-width: $tabletWidth) {

}