@import '../vars';


$btn-color: #8569b4;
$btn-color-hover: #A388D1;
$btn-color-active: #4D2378;
$btn-radius: 1.750rem;
$btn-border-color: transparent;

.buttons-container {
	margin-top: 1.125rem;
}

.btn {
	background: $btn-color-gradient;
	background-color: $btn-color;
	border-radius: $std-radius;
	border: 1px solid transparent;
	color: $btn-text;
	display: inline-block;
	padding: .625rem 2.5rem;
	position: relative;
	font-weight: bold;
	line-height: 1.625rem;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	outline: none;

	& + .btn {
		margin-left: .5rem;
	}

	&:hover,
	&:active {
		background: $violet;
		outline: none;
	}

	&.secondary {
		background: transparent;
		box-shadow: none;
		color: $btn-color;

		&:hover,
		&.hover,
		&:active {
			border: 1px solid $btn-color-hover;
			color: $btn-color-hover;
		}
	}

	a,
	a:visited,
	a:active {
		text-decoration: none;
		color: inherit;
	}
}

@media all and (max-width: $mobileWidth) {
	.btn {
		padding: 1rem 1.5rem;
	}
}