@import '../vars';


$btn-color: #8569b4;
$btn-color-hover: #A388D1;
$btn-color-active: #4D2378;
$btn-radius: 1.750rem;
$btn-border-color: transparent;


.btn {
	background: $btn-color;
	border-radius: $btn-radius;
	border: 1px solid transparent;
	box-shadow: 0px .25rem .5rem transparentize($black, 0.8);
	margin: .5rem;
	color: $btn-text;
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	cursor: pointer;
	outline: none;


	&:hover {
		background-color: $btn-color-hover;
		outline: none;
	}

	&:active {
		background-color: $btn-color-active;
		outline: none;
	}

	&.secondary {
		background: transparent;
		box-shadow: none;
		color: $btn-color;

		&:hover,
		&.hover {
			border: 1px solid $btn-color-hover;
			color: $btn-color-hover;
		}

		&:active {
			background-color: $btn-color-active;
			border-color: $btn-color-active;
			color: $btn-text;
		}
	}
}

@media all and (max-width: 598px) {
	.btn {
		padding: 1rem 1.5rem;
	}
}