@import '../vars';


$btn-color: #8569b4;
$btn-color-hover: #A388D1;
$btn-color-active: #4D2378;
$btn-radius: 28px;
$btn-border-color: transparent;


.btn {
	background: $btn-color;
	border-radius: $btn-radius;
	border: 1px solid transparent;
	color: $btn-text;
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;

	&:hover {
		background-color: $btn-color-hover;
	}

	&:active {
		background-color: $btn-color-active;
	}

	&.secondary {
		background: transparent;
		color: $btn-color;

		&:hover {
			border: 1px solid $btn-color-hover;
			color: $btn-color-hover;
		}

		&:active {
			background-color: $btn-color-active;
			border-color: $btn-color-active;
			color: $btn-text;
		}
	}
}