@import '../vars';

form {
	.form-group {
		margin-bottom: 1rem;
	}
}

.input-wrapper {
	position: relative;

	&.select {
		position: relative;

		&:after {
			content: url("/assets/images/ui/dropdown.svg");
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}

	input[type=text],
	input[type=email],
	input[type=search],
	input[type=tel],
	input[type=url] {
		border: 0;
		border-bottom: 1px solid $silver;
		line-height: 1.5rem;
		width: 100%;
	}

	textarea,
	input[type=text],
	input[type=url],
	input[type=mail],
	input[type=textarea],
	select {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $violet;
		line-height: 1.625em;
	}

	select {
		line-height: 1.25em;
		padding: calc((1.625em - 1em) / 2) 0;
		-webkit-appearance: none;
	}

	input[type=radio]:checked  ~.input-fake-radio .input-caret {
		opacity: 1;
	}

	.input-fake-radio {
		display: inline-block;
		width: .85rem;
		height: .85rem;
		border: 1px solid $black;
		border-radius: .85rem;
		vertical-align: middle;
		position: relative;
		margin-right: .5rem;
		pointer-events: none;

		.input-caret {
			opacity: 0;
			position: absolute;
			top: 2px;
			left: 2px;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			border-radius: 1rem;
			background-color: $violet;
			transition: opacity $transition-fast;
		}

		+ label {
			padding-left: 2rem;
			margin-left: -2rem;
		}
	}

	input[type=checkbox]:checked ~ .input-fake-checkbox .input-caret {
		opacity: 1;
	}

	.input-fake-checkbox {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		border: 1px solid $black;
		border-radius: 5px;
		vertical-align: middle;
		position: relative;
		margin-right: .5rem;
		pointer-events:  none;

		.input-caret {
			opacity: 0;
			position: absolute;
			top: 2px;
			left: 2px;
			width: calc(100% - 4px);
			height: calc(100% - 4px);
			background-color: $violet;
			transition: opacity $transition-fast;
		}

		+ label {
			padding-left: 2rem;
			margin-left: -2rem;
		}
	}

	.input-error-icon {
		opacity: 0;
		transition: all $transition-fast;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		width: .9rem;
		height: .9rem;
		background-image: url('/assets/images/ui/icono_error.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.input-error-popup {
		opacity: 0;
		transition: all $transition-fast;
		position: absolute;
		bottom: 100%;
		right: 0;
		margin-bottom: .25rem;
		color: $white;
		padding: 0.625rem;
		background-color: transparentize($orange, .23);
		white-space: nowrap;

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			right: .625rem;
			width: 0;
			height: 0;
			border-top: .625rem solid transparentize($orange, .23);
			border-left: .625rem solid transparent;
		}
	}

	&.error {
		.input-error-icon,
		.input-error-popup {
			opacity: 1;
		}
	}
	
}