@import '../vars';

form {
	.form-group {
		margin-bottom: 1rem;
	}
}

.input-wrapper {

	&.select {
		position: relative;

		&:after {
			content: url("/assets/images/ui/dropdown.svg");
			position: absolute;
			top: 50%;
			right: 0;
			transform: translate(0, -50%);
		}
	}

	input[type=text],
	input[type=email],
	input[type=search],
	input[type=tel],
	input[type=url] {
		border: 0;
		border-bottom: 1px solid $silver;
		line-height: 1.5rem;
		width: 100%;
	}

	textarea,
	input[type=text],
	input[type=url],
	input[type=mail],
	input[type=textarea],
	select {
		background-color: transparent;
		border: none;
		border-bottom: 1px solid $violet;
		line-height: 1.625em;
	}

	select {
		line-height: 1.25em;
		padding: calc((1.625em - 1em) / 2) 0;
		-webkit-appearance: none;
	}
}