@import '../vars';

.main-navigation {
	width: $navigation-width;
	background-color: $darkviolet;
	color: $white;
	min-height: 100%;

	.mobile-menu-toggle,
	.mobile-menu-toggle-label {
		display: none;
	}

	.navigation-container {
		padding: 1rem 0;
	}

	.navigation-item {
		position: relative;
		display: flex;
		align-items: center;
		transition: all $transition-fast;
		&:not(.collapsed-item) {min-height: 3.5rem;}

		hr {
			width: calc(100% - 3rem);
			background-color: transparentize($white, 0.8);
		}

		a {
			text-decoration: none;
			color: $white;
		}

		&.active:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 3.5rem;
			width: 4px;
			background-color: $violet;
		}

		&.active {
			background-color: $darkviolet;
		}

		&:hover {
			&:not(.collapsed-item) {
				background-color: $semidarkviolet;
			}
		}

		.item {
			position: relative;
			padding-left: 3rem;
		}
		
		& > .item {
			display: block;
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: 50%;
				left: 1.5rem;
				width: 1rem;
				height: 1rem;
				transform: translateY(-50%);
				background-image: var(--icon);
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		.dropdown-title {
			width: auto;
		}
		
		.dropdown-trigger {
			& + .dropdown-title:after {
				content: "";
				background-image: url(/assets/images/ui/dropdown.svg);
				background-size: contain;
				background-repeat: no-repeat;
				width: 1rem;
				height: .75rem;
				top: 50%;
				right: 2rem;
				transform: translate(0, -50%);
				display: block;
			}
			&:checked + .dropdown-title:after {
				transform: translate(0, -50%) scale(-1);
			}
		}
	}
}

@media all and (max-width: $mobileWidth) {
	#nav-overlay .dialog-container {
		display: none;
	}
	
	.main-navigation {
		display: none;
		position: absolute;
		top: 1.5rem;
		left: 1rem;
		z-index: 1000;
		background-color: transparent;


		.mobile-menu-toggle,
		.mobile-menu-toggle-label {
			display: block;
		}
		
		.mobile-menu-toggle-label {
			cursor: pointer;
			width: 2rem;
			height: 1rem;
			
			img {
				width: 20px;
			}
		}

		.navigation-container {
			position: fixed;
			top: 0;
			left: -100%;
			bottom: 0;
			width: 75%;
			overflow: hidden;
			overflow-y: auto;
			transition: all $transition-normal;
			background-color: $darkviolet;
		}

		.mobile-menu-toggle:checked ~ .navigation-container {
			left: 0;
		}
	}
}