.success {
    .title {
        @media all and (max-width: $mobileWidth) {
            text-align: left;
        }
    }

    .subtitle {
        margin-top: 2rem;
        line-height: 1.625rem;

        a {
            font-weight: bold;
            color: $black;
        }
    }
}