.success {
    .title {
        @media all and (max-width: $tabletWidth) {
            text-align: left;
        }
    }

    .subtitle {
        margin-top: 2rem;
        line-height: 1.625rem;

        a {
            font-weight: bold;
            color: $black;
        }
    }

    img {
        max-width: 250px;
    }
    @media all and (max-width: $tabletWidth) {
        img {
            max-width: 70%;
        }
    }
}