.table-container {
    width: calc(100% - 1.25rem);

    @media all and (min-width: 599px) {
        background-color: $white;
        border: 1px solid transparentize($silver, .85);
        margin: .5rem;
        border-radius: $border-radius;
        box-shadow: 0px 2px 4px transparentize($black, .8);
    }
    
    .table {
        display: flex;
        padding: 0;
        
        tbody {
            width: 100%;
        }
        
        tr {
            display: flex;
            padding: 1rem;
            flex-direction: row;
        }
        
        td {
            flex-grow: 1;
        }
    }
    
    .table-header {
        padding: 1rem;
        font-weight: bold;
        color: $violet;
        background-color: $smoke;
    }

    @media all and (max-width: 598px) {
        .table {
            tr:not(.table-header) {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
}
