@import '../vars';
@import '../components/box.scss';

.topbar {
	background-color: $white;
	position: relative;
	height: 5.25rem;
	z-index: 10;
	
	> .flex-row {
		height: 100%;
		box-shadow: 0 .5rem 1rem transparentize($black, .9);
	}

	.logo-container {
		width: $navigation-width;
		text-align: center;

		img {
			max-width: 9.25rem;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	.dropdown-target {
		display: none;
	}

	.notifications-menu {
		position: relative;
		margin-right: 2rem;
		margin-left: 4rem;

		.notifications-alert {
			position: absolute;
			top: -.5rem;
			right: -.5rem;
			background-color: $orange;
			width: .5rem;
			height: .5rem;
			border-radius: 1rem;
		}

		.dropdown-title {
			width: auto;
			cursor: pointer;
			
			&:after {
				display: none;
			}
		}
		
		.dropdown-target {
			position: absolute;
			overflow: visible;
			top: 100%;
			margin-top: .5rem;
			right: 0;
			min-width: 18.750rem;
			background-color: $smoke;

			ul {
				@extend .box;
				padding: 1rem;
				margin: 0;

				li {
					margin: 1rem 0;

					&:first-child {
						margin-top: 0;
					}

					& + li {
						list-style-type: disc;
						margin-left: 1rem;
					}
				}

				li:first-child,
				li:first-child + li {
					list-style: none;
					margin: 0

				}
			}
		}
	}
}

@media all and (max-width: $mobileWidth) {
	.topbar {
		height: 4.5rem;

		> .flex-row .logo-container {
			width: 100%;
		}
		.notifications-menu {
			position: absolute;
			right: 0;

		}
	}
}