@import '../vars';

.text-xxlarge {
    font-size: 2.5rem;
    font-weight: bold;
}

.text-xlarge {
    font-size: 2rem;
    font-weight: bold;
}

.text-large {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-nowrap {
    white-space: nowrap;
}

.text-silver {
    color: $silver;
}