@import '../vars';

.text-xxlarge {
    font-size: 2.5rem;
    font-weight: bold;
}

.text-xlarge {
    font-size: 2rem;
    font-weight: bold;
}

.text-large {
    font-size: 1.5rem;
    font-weight: bold;
}

.text-nowrap {
    white-space: nowrap;
}

.text-silver {
    color: $silver;
}


h1 {
    color: $black;
}

h2, h3, h4, h5 {
    color: $violet;
}

h2 {
    font-size: 1.375rem;
    font-weight: bold;
}