{% macro header(options)%}
	{% if options.progress %}
	<div class="page-progress">
		<div class="progress progress-{{ options.progress }}"></div>
	</div>
	{% endif %}
	<div class="flex-column page-header">
		{% if options.section %}
			<p class="top-decoration">{{ options.section | safe }}</p>
		{% elseif options.link %}
			<a class="top-decoration" href="{{ options.link.href }}">{{ options.link.text }}</a>
		{% endif %}
	</div>
{% endmacro%}