{% from "../components/_dropdown.njk" import dropdown %}
{% from "../components/_dialogs.njk" import dialog %}

{{ dialog({
		"id": "nav-overlay",
		"class": "",
		"content": ""
	}) }}

<nav class="main-navigation">
	<input type="checkbox" class="visually-hidden mobile-menu-toggle" id="mobile-menu-toggle">
	<label class="mobile-menu-toggle-label" for="mobile-menu-toggle">
		<img src="/assets/images/ui/menu.svg" alt="">
	</label>
	<div class="navigation-container">
		<ul>
			{% for item in navigation.links %}
			<li class="navigation-item {{ item.class }}" style="--icon: url('{{ item.icon }}');">
				{% if item.title == "-" %}
					<hr>
				{% else %}
					<a class="item {% if loop.first %}active{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</nav>

<script>
	const mobileMenuBtn = document.querySelector('#mobile-menu-toggle')
	const navOverlay = document.querySelector('#nav-overlay')


	mobileMenuBtn.checked = false

	mobileMenuBtn.addEventListener('click', () => {
		console.log(mobileMenuBtn.getAttribute('checked'))

		if (mobileMenuBtn.getAttribute('checked')) {
			navOverlay.classList.remove('active')
		} else {
			navOverlay.classList.add('active')
		}
	})

	navOverlay.addEventListener('click', () => {
		//mobileMenuBtn.click()
		navOverlay.classList.remove('active')
		mobileMenuBtn.checked = false
	})

	document.querySelectorAll('.main-navigation .navigation-item')[0].classList.add('active')

</script>