{% from "../components/_dropdown.njk" import dropdown %}
{% from "../components/_dialogs.njk" import dialog %}

{% set navigation = {
		"links": [
			{
				"title": "Inicio",
				"url": "/index.html",
				
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 26" style="enable-background:new 0 0 24 26;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-miterlimit:10;}</style><path class="st0" d="M18.1,25.1H21c1.1,0,2-0.9,2-2V10.6c0-0.6-0.3-1.2-0.8-1.6l-9-6.8c-0.7-0.5-1.7-0.5-2.4,0L1.8,9,C1.3,9.4,1,9.9,1,10.6v12.5c0,1.1,0.9,2,2,2h2.9c1.1,0,2-0.9,2-2v-6.2c0-1.1,0.9-2,2-2h4.1c1.1,0,2,0.9,2,2l0,6.2,C16.1,24.2,17,25.1,18.1,25.1z"/></svg>'
			},
			{
				"title": "-",
				"class": "collapsed-item"
			},
			{
				"title": "Pagar",
				"url": "/pagar.html",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 26" style="enable-background:new 0 0 16 26;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}</style><line class="st0" x1="8" y1="1" x2="8" y2="25"/><path class="st0" d="M8,13c-3.3,0-6-2.2-6-5s2.7-5,6-5c2.5,0,4.6,1.3,5.5,3.1"/><path class="st0" d="M8,13c3.3,0,6,2.2,6,5s-2.7,5-6,5c-2.5,0-4.6-1.3-5.5-3.1"/></svg>'
			},
			{
				"title": "Avisar que pagué",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-miterlimit:10;}.st1{fill:none;stroke:#B6A1DA;stroke-width:1.5;stroke-linecap:round;stroke-linejoin:round;}.st2{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}</style><path class="st0" d="M10.8,7.6c0,0.3-0.3,0.6-0.6,0.6C9.8,8.3,9.5,8,9.5,7.6S9.8,7,10.1,7C10.5,7,10.8,7.3,10.8,7.6z"/><circle class="st0" cx="14.6" cy="7.6" r="0.6"/><path class="st1" d="M9,12c0.6,1.3,1.9,2.2,3.4,2.2s2.8-0.9,3.4-2.2"/><path class="st2" d="M21,19H7l-2.7,2.3C3,22.4,1,21.4,1,19.7V4c0-1.1,0.9-2,2-2h18c1.1,0,2,0.9,2,2v13C23,18.1,22.1,19,21,19z"/></svg>',
				"url": "/avisar.html"
			},
			{
				"title": "Prometer una fecha",
				"icon": '<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.25 7.75001V18.5C2.25 20.7091 4.04086 22.5 6.25 22.5H17.75C19.9591 22.5 21.75 20.7091 21.75 18.5V7.75003C21.75 5.54089 19.9591 3.75003 17.75 3.75003L6.25001 3.75001C4.04087 3.75 2.25 5.54087 2.25 7.75001Z" stroke="#B6A1DA" stroke-width="2"/><rect x="1.5" y="7.5" width="21" height="1.5" fill="#B6A1DA"/><rect x="6.75" y="0.75" width="1.5" height="3.75" fill="#B6A1DA"/><rect x="15.75" y="0.75" width="1.5" height="3.75" fill="#B6A1DA"/><path d="M8.25 15.375L10.875 18L16.5 12.75" stroke="#B6A1DA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>',
				"url": "/prometer.html"
			},
			{
				"title": "Pagar en cuotas",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-miterlimit:10;}</style><path class="st0" d="M8,10H3c-1.1,0-2-0.9-2-2V3c0-1.1,0.9-2,2-2h5c1.1,0,2,0.9,2,2v5C10,9.1,9.1,10,8,10z"/><line class="st0" x1="2" y1="4" x2="9" y2="4"/><path class="st0" d="M21,10h-5c-1.1,0-2-0.9-2-2V3c0-1.1,0.9-2,2-2h5c1.1,0,2,0.9,2,2v5C23,9.1,22.1,10,21,10z"/><line class="st0" x1="15" y1="4" x2="22" y2="4"/><path class="st0" d="M8,23H3c-1.1,0-2-0.9-2-2v-5c0-1.1,0.9-2,2-2h5c1.1,0,2,0.9,2,2v5C10,22.1,9.1,23,8,23z"/><line class="st0" x1="2" y1="17" x2="9" y2="17"/><path class="st0" d="M21,23h-5c-1.1,0-2-0.9-2-2v-5c0-1.1,0.9-2,2-2h5c1.1,0,2,0.9,2,2v5C23,22.1,22.1,23,21,23z"/><line class="st0" x1="15" y1="17" x2="22" y2="17"/></svg>',
				"url": "/cuotas.html"
			},
			{
				"title": "Promesas hechas",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-linejoin:round;stroke-miterlimit:10;}.st1{fill:none;stroke:#B6A1DA;stroke-miterlimit:10;}</style><path class="st0" d="M15.5,4.5v4.7c0,0.2,0.1,0.4,0.2,0.6l1.6,2.1c0.1,0.2,0.2,0.4,0.2,0.6v1c0,0.6-0.4,1-1,1h-9c-0.6,0-1-0.4-1-1,v-1.2c0-0.2,0.1-0.4,0.2-0.6l1.6-1.9c0.1-0.2,0.2-0.4,0.2-0.6V4.5c0-0.6-0.4-1-1-1h0c-0.6,0-1-0.4-1-1v-1c0-0.6,0.4-1,1-1h9,c0.6,0,1,0.4,1,1v1c0,0.6-0.4,1-1,1h0C15.9,3.5,15.5,3.9,15.5,4.5z"/><polygon class="st1" points="11.5,15 12.5,15 12.5,22 12,23 11.5,22 "/></svg>',
				"url": "/hechas.html"
			},
			{
				"title": "Planes pedidos",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}.st1{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}</style><polygon class="st0" points="1,7.5 1,2.5 5,5 "/><line class="st1" x1="9" y1="5" x2="23" y2="5"/><line class="st1" x1="12" y1="10" x2="23" y2="10"/><line class="st1" x1="12" y1="15" x2="23" y2="15"/><line class="st1" x1="12" y1="20" x2="23" y2="20"/></svg>',
				"url": "/planes_pedidos.html"
			},
			{
				"title": "Tus comprobantes",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-miterlimit:10;}</style><path class="st0" d="M18,23H6c-1.1,0-2-0.9-2-2V3c0-1.1,0.9-2,2-2h7l7,7v13C20,22.1,19.1,23,18,23z"/><path class="st0" d="M12,1v6c0,1.1,0.9,2,2,2h6"/>/svg>',
				"url": "/comprobantes.html"
			},
			{
				"title": "-",
				"class": "collapsed-item"
			},
			{
				"title": "Tu Perfil",
				"url": "/perfil.html",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 26" style="enable-background:new 0 0 24 26;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}</style><path class="st0" d="M23,25v-3.7c0-1.4-0.6-2.8-1.6-3.8S19.1,16,17.7,16H6.3c-1.4,0-2.8,0.6-3.8,1.6c-1,1-1.6,2.4-1.6,3.8V25"/><ellipse transform="matrix(0.4438 -0.8961 0.8961 0.4438 0.9987 14.2759)" class="st0" cx="12" cy="6.3" rx="5.3" ry="5.3"/></svg>'
			},
			{
				"title": "Preguntas frecuentes",
				"url": "/faqs.html",
				"icon": '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:#B6A1DA;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;}</style><path class="st0" d="M9.5,9.4c0.3-0.8,0.8-1.5,1.6-1.9c0.7-0.4,1.6-0.6,2.4-0.4c0.8,0.1,1.6,0.6,2.1,1.2c0.5,0.7,0.8,1.5,0.8,2.3,c0,1.3-1,2.2-2,2.7C13.6,13.9,13,14.9,13,16l0,0"/><circle class="st0" cx="13" cy="13" r="12"/><polygon class="st0" points="13,20 13,19 13,19 13,19 "/></svg>'
			},
			{
				"title": "Salir",
				"url": "#logout",
				"icon": '<svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 25H3.66667C2.95942 25 2.28115 24.719 1.78105 24.219C1.28095 23.7189 1 23.0406 1 22.3333V3.66667C1 2.95942 1.28095 2.28115 1.78105 1.78105C2.28115 1.28095 2.95942 1 3.66667 1H9M18.3333 19.6667L25 13M25 13L18.3333 6.33333M25 13H9" stroke="#B6A1DA" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>'
			}
		]
	}
%}

{{ dialog({
		"id": "nav-overlay",
		"class": "",
		"content": ""
	}) }}

<nav class="main-navigation">
	<input type="checkbox" class="visually-hidden mobile-menu-toggle" id="mobile-menu-toggle">
	<label class="mobile-menu-toggle-label" for="mobile-menu-toggle">
		<img src="/assets/images/ui/menu.svg" alt="">
	</label>
	<div class="navigation-container">
		<ul>
			{% for item in navigation.links %}
			<li class="navigation-item {{ item.class }}">
				{% if item.title == "-" %}
					<hr>
				{% else %}
					<a class="item {% if loop.first %}active{% endif %}" href="{{ item.url }}"><span class="nav-icon">{{ item.icon }}</span><span>{{ item.title }}</span></a>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</nav>

<script>
	const mobileMenuBtn = document.querySelector('#mobile-menu-toggle')
	const navOverlay = document.querySelector('#nav-overlay')


	mobileMenuBtn.checked = false

	mobileMenuBtn.addEventListener('click', () => {
		console.log(mobileMenuBtn.getAttribute('checked'))

		if (mobileMenuBtn.getAttribute('checked')) {
			navOverlay.classList.remove('active')
		} else {
			navOverlay.classList.add('active')
		}
	})

	navOverlay.addEventListener('click', () => {
		//mobileMenuBtn.click()
		navOverlay.classList.remove('active')
		mobileMenuBtn.checked = false
	})

</script>
