{% from "../components/_dropdown.njk" import dropdown %}

<nav class="main-navigation">
	<div class="text-center">
		<img class="logo" src="{{ sidebar.logo.src }}" alt="{{ sidebar.logo.alt }}">
	</div>
	<ul>
		{% for item in sidebar.links %}
		<li class="navigation-item" style="--icon: url('{{ item.icon }}');">
			{% if item.title == "-" %}
				<hr>
			{% else %}
				{% if item.dropdown %}
					{% call dropdown({'title': item.title, 'class': 'item'}) %}
						<ul>
						{% for dropdown in item.dropdown %}
							<li class="item">
								<a href="{{ dropdown.url }}">{{ dropdown.title }}</a>
							</li>
						{% endfor %}
						</ul>
					{% endcall %}
				{% else %}
					<a class="item" href="{{ item.url }}">{{ item.title }}</a>
				{% endif %}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
</nav>