<div class="flex-column flex-grow">
    <div class="pages-container">
        {% include "../pages/_login.njk" %}
        {% include "../pages/_home.njk" %}
        {% include "../pages/_invoice.njk" %}
    </div>
</div>