<div class="overlay sidebar-container" role="dialog">
    <div class="sidebar">
        <div class="close-btn">
            <img src="/assets/images/ui/close-btn.svg" alt="Close">
        </div>
        <div class="flex-column">
            {# dynamic data here #}

            {# example data #}
            <h1>Detalle de producto</h1>
            <h3>Tipo de producto</h3>
            <p>TC VISA XXXX XXXX XXXX 1234</p>
            <h3>Deuda</h3>
            <p>$1200</p>
            <h3>Última fecha de pago</h3>
            <p>03/12/96</p>
            <h3>Nº Comprobante</h3>
            <p>34324324443-9</p>
            <h3>Sucursal</h3>
            <p>504 - La Plata</p>
            <button class="btn secondary hover">Libre deuda</button>
        </div>
    </div>
</div>