
{% macro title(options)%}
	<div class="title {{ options.class }}">
		<h1 class="page-title text-large">{{ options.title | safe }}</h1>
		{% if options.subtitle %}<p class="page-subtitle">{{ options.subtitle | safe }}</p>{% endif %}
	</div>
{% endmacro %}