<nav class="topbar">
    <ul class="flex-row">
        <li class="flex-grow"><h1 class="page-name">Inicio</h1></li>
        <li>{{ topbar.avatar }}</li>
        <li>{{ topbar.avatar }}</li>
        <li><img src="{{ topbar.notificationSrc }}" alt=""></li>
    </ul>
</nav>