{% from "../components/_dropdown.njk" import dropdown %}

<nav class="topbar">
    <div class="flex-row flex-center">
        <div class="flex-grow">
            <div class="logo-container flex-grow">
                <a href="/index.html"><img id="site-logo" class="site-logo" src="/assets/images/logos/emerix.png"></a>
            </div>
        </div>
        <div class="notifications-menu">
            {% call dropdown({
                'title': 'topbar-dropdown',
                'html': '<img src="/assets/images/ui/topbar/notificaciones.svg" alt=""><div class="notifications-alert"></div>',
                'class': 'item'
            }) %}
                <ul>
                    <li><strong>Notificaciones</strong></li>
                    <li><hr></li>
                    <li><a href="/invoice.html">Una promesa de pago está por vencer, podés pagar ahora.</a></li>
                    <li><a href="#">Tu solicitud de plan de pago fue aprobada.</a></li>
                </ul>
            {% endcall %}
        </div>
    </div>
</nav>