{% macro breadcrumb(options) %}
<div class="breadcrumb-container" id="{{ options.id }}">
    {% if options.index %}
        {% set activeIndex = options.index %}
    {% else %}
        {% set activeIndex = 0 %}
    {% endif %}
    <ul class="flex-row">
    {% for item in options.items %}
        <li class="{% if loop.index <= activeIndex + 1 %}active{% endif %} breadcrumb">
            {{ item }}
        </li>
    {% endfor %}
    </ul>
</div>
{% endmacro %}