{% macro dialog(options) %}
<div class="overlay" id="{{ options.id }}">
    <div class="dialog-container" role="dialog">
        <a class="close-btn">
            <img src="/assets/images/ui/close-btn.svg" alt="Close">
        </a>
        <div class="dialog-content {{options.class}}">
            {% if options.title %}<h2>{{ options.title }}</h2>{% endif %}
            <div>{{ options.content }}</div>
        </div>
    </div>
</div>
{% endmacro %}