{% macro dropdown(options) %}

{%- macro random_int(len) -%}
  {%- for _ in range(len) -%}
    {{ range(10) | random }}
  {%- endfor -%}
{%- endmacro -%}

{% set id = 'dropdown-' + random_int(10) %}

    <input aria-hidden="true" type="checkbox" class="dropdown-trigger" id="dropdown-trigger-{{ id }}">
    <label class="dropdown-title {% if options.class %}{{options.class}}{% endif %}" for="dropdown-trigger-{{ id }}">
        {% if options.html %} {{ options.html | safe }} {% else %} {{ options.title }} {% endif %}
    </label>
    <div class="dropdown-target">
        {{ caller() }}
    </div>
{% endmacro %}