{#{% macro input(type, id, name, value, placeholder, options) %}#}
{% macro input(options) %}

	{% set type -%}{% if options.type%}{{ options.type }}{%else%}text{%endif%}{%- endset %}


	<div class="input-wrapper {{ type }} {{ options.class }}">
		<input
			id="{{ options.id }}"
			type="{{ type }}"
			class="input-elem {% if (options.type == 'checkbox') or (options.type == 'radio') %}visually-hidden{% endif %}"
			{% if options.name %} name="{{ options.name }}" {% endif %}
			{% if options.value %} value="{{ options.value }}" {% endif %}
			{% if options.pattern %} pattern="{{ options.pattern }}" {% endif %}
			{% if options.minlength %} minlength="{{ options.minlength }}" {% endif %}
			{% if options.maxlength %} maxlength="{{ options.maxlength }}" {% endif %}
			{% if options.placeholder %} placeholder="{{ options.placeholder }}" {% endif%}
			{% if options.required == false %}{% else %}required {% endif %}
			{% if options.checked %}checked{% endif %}
		>
		{% if options.type == "checkbox" %}
			<div class="input-fake-checkbox">
				<span class="input-caret"></span>
			</div>
			{% if options.label %}
				<label for="{{ options.id }}">{{ options.label | safe }}</label>
			{% elseif  options.specialLabel %}
				<label for="{{ options.id }}">{{ caller() }}</label>
			{% endif %}
		{% elseif options.type == "radio" %}
			<div class="input-fake-radio">
				<span class="input-caret"></span>
			</div>
			{% if options.label %}
				<label for="{{ options.id }}">{{ options.label | safe }}</label>
			{% elseif  options.specialLabel %}
				<label for="{{ options.id }}">{{ caller() }}</label>
			{% endif %}
		{% endif %}
		<div class="input-error-icon" role="alert"></div>
		<div class="input-error-popup" role="alert">{% if options.error %}{{options.error}} {% else %}Required{% endif %}</div>
	</div>
{% endmacro %}

{% macro select(options) %}
	<div class="input-wrapper select {{ options.class }}">
		<select
			id="{{ options.id }}"
			{% if options.required == false %}{% else %}required {% endif %}
		>
			{% if options.placeholder %}
			<option selected class="placeholder" value="">{{ options.placeholder }}</option>
			{% endif %}
			{% for item in options.items %}
			<option value="{{ item }}">{{ item }}</option>
			{% endfor %}
		</select>
		<div class="input-error-icon" role="alert"></div>
		<div class="input-error-popup" role="alert">{% if options.error %}{{options.error}} {% else %}Required{% endif %}</div>
	</div>
{% endmacro %}


{% macro textarea(options) %}
	<div class="input-wrapper textarea {{ options.class }}">
		<textarea
			id="{{ options.id }}"
			{% if options.required == false %}{% else %}required {% endif %}
			{% if options.placeholder %}
			placeholder="{{ options.placeholder }}"
			{% endif %}
		>
		</textarea>
		<div class="input-error-icon" role="alert"></div>
		<div class="input-error-popup" role="alert">{% if options.error %}{{options.error}} {% else %}Required{% endif %}</div>
	</div>
{% endmacro %}