{% macro price(options) %}
	{% if options.value %}
		{% set value = options.value %}
	{% else %}
		{% set value = options %}
	{% endif %}

	{% set integer = value.slice(0 , value | length - 2) %}
	{% set cents = value.slice(value | length - 2, value | length) %}

	<div class="price-container {{ options.class }}" data-value="{{ value }}"><span class="denomination">$</span>{{ integer }}<sup class="cents">{{ cents }}</sup></div>
{% endmacro %}