@import '../vars';

*, *:before, *:after {
	box-sizing: inherit; //box-sizing : border-box;
	-webkit-tap-highlight-color: transparent;
}

/*
* {
	-webkit-overflow-scrolling: auto;
}
*/

a, span, p {
	font-size: 1rem;
}

a:link,
a:visited {
	color: inherit;
}

// Remove bullets from ul li
ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

img {
	vertical-align: top;
	max-width: 100%;
}

button::-moz-focus-inner{
	padding : 0;
	border  : 0;
}

button {
	padding: 0;
	border: none;

	// Be careful with this. In some iPhones the text inside some buttons were selectable
	// and prevented the button from being clicked
	user-select: none;
}

svg {
	//max-width: 100%;
	width: 100%;
	height: 100%;

	fill: currentColor;
	display: block; // Eliminates strange space below the element because it's inline by default

	path {
		fill: inherit;
	}
}

.relative {
	position: relative;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

@media all and (max-width: $tabletWidth) {
	.text-right-mobile {
		text-align: right;
	}
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.flex-grow {
	flex-grow: 1;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-items: center;
}

.flex-row.flex-end {
	justify-content: flex-end;
}

.flex-column.flex-end {
	align-items: flex-end;
}

.no-wrap {
	white-space: nowrap;
}

.hidden {
	display:none !important;
}

.disclaimer {
	margin: 2rem 0;
	position: relative;
	padding-left: 3rem;
	&:before {
		content: url("/assets/images/ui/icono_info.svg");
		position: absolute;
		top: 0;
		left: 1rem;
		width: 1rem;
	}
}

.col-container {
	margin-bottom: 1rem;

	> * {
		margin: 0 (2.5rem / 2);

		&:first-child {
			margin-left: 0;
		}


		&:last-child {
			margin-right: 0;
		}
	}

	@media all and (max-width: $tabletWidth) {
		flex-direction: column;
		
		> * {
			margin: 0;
			width: 100%;
		}
	}
}

.row-container {
	margin-bottom: 1rem;

	> * {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.margin-left {
	margin-left: 1rem;
}


hr {
	border: 0;
	height: 1px;
	background-color: $smoke;
}

.pages-container {
	background-color: $smoke;
	min-height: 100vh;

	& > * {
		margin: 0 auto;
		padding: 1rem;
	}

	@media all and (min-width: $tabletWidth + 1) {
		.restrict-desktop {
			width: calc(100% - 10rem);
			margin-left: auto;
			margin-right: auto;
		}

	}
}

@media all and (min-width: $tabletWidth + 1) {
	.mobile-only {
		display: none !important;
	}

	.page-title {
		font-size: 1.5rem;
	}
}

@media all and (max-width: $tabletWidth) {
	.desktop-only {
		display: none !important;
	}

	.flex-column-on-mobile {
		display: flex;
		flex-direction: column;
	}

	.flex-row-on-mobile {
		display: flex;
		flex-direction: row;
	}

	.margin-bottom-on-mobile {
		margin-bottom: 1rem;
	}

	.page-title {
		font-size: 1.28rem;
	}
}