// Box-sizing reset. Best for responsive and sizing in general! The old one is content-box.
html {
	box-sizing: border-box;

	// todo: all these fixed font sizes
	font-size: 16px;
}

@media screen and (max-height: 768px) {
	html.desktop {
		font-size: 16px;
	}
}

@media screen and (max-height: 640px) {
	html.desktop {
		font-size: 16px;
	}
}

@media all and (max-width: 320px) {
	html, body {
		// todo: review fixed font size
		font-size: 16px;
	}
}


*, *:before, *:after {
	box-sizing: inherit; //box-sizing : border-box;
	-webkit-tap-highlight-color: transparent;
}

/*
* {
	-webkit-overflow-scrolling: auto;
}
*/

html, body {
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
	border:0;
}

body {
	position: relative;

	font-family: sans-serif;
	font-weight: normal;
	font-style: normal;

	//overscroll-behavior: none;
}

a, span, p {
	font-size: 1rem;
}

a:visited {
	color: inherit;
}

// Remove bullets from ul li
ul {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

img {
	vertical-align: top;
}

button::-moz-focus-inner{
	padding : 0;
	border  : 0;
}

button {
	padding: 0;
	border: none;

	// Be careful with this. In some iPhones the text inside some buttons were selectable
	// and prevented the button from being clicked
	user-select: none;
}

svg {
	//max-width: 100%;
	width: 100%;
	height: 100%;

	fill: currentColor;
	display: block; // Eliminates strange space below the element because it's inline by default

	path {
		fill: inherit;
	}
}


.relative {
	position: relative;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-grow {
	flex-grow: 1;
}

.hidden {
	display:none !important;
}

.main-container {
	hr {
		border: 0;
		height: 1px;
		background: $lightgray;
	}
}

.pages-container {
	background-color: $smoke;

	& > * {
		padding: 1rem;
		margin: 0 auto;
	}
}