<!DOCTYPE html>
<html lang="{{ head.lang }}" class="no-js">
	<head>
		{% include "_head.njk" %}
	</head>
<body class="emerix-page">
    {% include "structure/_navigation.njk" %}

    <script>
        document.querySelectorAll('.main-navigation .navigation-item')[0].classList.add('active')
    </script>
</body>
</html>
