<!DOCTYPE html>
<html lang="{{ head.lang }}" class="no-js">
	<head>
		{% include "_head.njk" %}
	</head>
<body class="emerix-page">
    <div class="flex-column flex-grow">
    	<div class="pages-container">
            {% include "pages/_pay_1.njk" %}
        </div>
    </div>

</body>
</html>