// default colors
$white: #fff;
$black: #000;
$silver: #989898;
$lightgray: #c1c1c1;
$smoke: #fbfbfb;

// theme colors
$lightviolet: #A388D1;
$violet: #8569b4;
$semidarkviolet: #634F7C;
$darkviolet: #46365B;

$orange: #FF6A29;

$red: #F06464;
$green: #83DF63;
$yellow: #FFE600;


$transition-fast: .25s ease;
$transition-normal: .5s ease;

$std-radius: 4px;
$border-radius: $std-radius;

$navigation-width: 17rem;

$box-margin: .5rem;

$btn-text:$white;
$btn-color: $violet;
$btn-color-gradient: linear-gradient(90deg, $lightviolet 0%, $violet 100%);
$btn-radius: $std-radius;
$btn-border-color: transparent;

// breakpoints
$mobileWidth: 1024px;