// default colors
$white: #fff;
$black: #000;
$silver: #989898;
$lightgray: #c1c1c1;
$smoke: #F6F6F5;

// theme colors
$lightviolet: #A388D1;
$violet: #8569b4;
$darkviolet: #4D2378;

$orange: #FF6A29;

$red: #83DF63;
$green: #83DF63;
$yellow: #FFE600;


$transition-fast: .25s ease;
$transition-normal: .5s ease;
$border-radius: 10px;


$btn-text:$white;
$btn-color: $violet;
$btn-color-hover: $lightviolet;
$btn-color-active: $darkviolet;
$btn-radius: 28px;
$btn-border-color: transparent;


$mobileWidth: 598px;