// default colors
$white: #fff;
$black: #3C3C3B;
$silver: #989898;
$lightgray: #c1c1c1;
$smoke: #fbfbfb;

// theme colors
$lightviolet: #A388D1;
$violet: #8569b4;
$semidarkviolet: #634F7C;
$darkviolet: #46365B;

$lightorange: #ED7F4F;
$orange: #FF6A29;
$coral: #EB7777;

$red: #D73232;
$green: #83DF63;
$yellow: #FFE600;


$transition-fast: .15s ease;
$transition-normal: .35s ease;

$std-radius: 4px;
$border-radius: $std-radius;

$navigation-width: 17rem;

$box-radius: 8px;
$box-margin: .5rem;
$box-padding: 1.5rem;

$btn-text:$white;
$btn-color: $violet;
$btn-color-gradient: linear-gradient(90deg, $lightviolet 0%, $violet 100%);
$btn-radius: $std-radius;
$btn-border-color: transparent;

// breakpoints
$mobileWidth: 1024px;