@import './vars';

.loader {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	padding: .75rem;

	color: #aaa;

	.loading-text {
		font-size: .75rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-right: -1rem; // fix large letter-spacing uncentered title
	}
}


// Loading ring animation

/*
	https://loading.io/css/
*/
.lds-dual-ring {
	display: inline-block;
	width: 6rem;
	height: 6rem;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 5rem;
	height: 5rem;
	margin: .5rem;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 50%;
	border: .2rem solid #aaa;
	border-color: #f00 transparent #f00 transparent;
	animation: lds-dual-ring 1.2s linear infinite;
	mix-blend-mode: difference;
}

@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


#loading-page {
	position: absolute;

	width: 100vw;
	height: 100%;

	top: 0;
	left: 0;

	display: block;
	z-index: 300;

	overflow: hidden;

	background: #161616;

	.loader-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&.back {
			//mix-blend-mode: hard-light;
			animation: loading-back .8s infinite alternate;
			animation-timing-function: ease-in-out;

			z-index: 1;
		}

		&.front {
			animation: loading-blur .8s infinite alternate;
			animation-timing-function: ease-in-out;

			z-index: 2;
		}
	}


	.loader-content {
		position: absolute;

		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		z-index: 3;
	}
}




@keyframes loading-back {
	0% {
		transform: scale(1)
	}

	100% {
		transform: scale(1.2)
	}
}

@keyframes loading-blur {
	0% {
		transform: scale(1);
		opacity: .2;
	}

	100% {
		transform: scale(1.4);
		opacity: 1;
	}
}



// desktop and laptops
@media screen and (min-width: 1280px) {
	#loading-page {
		.loader-bg {
			display: none;
		}
	}
}

