<!DOCTYPE html>
<html lang="{{ head.lang }}" class="no-js">
	<head>
		{% include "_head.njk" %}
	</head>
<body>
	<template id="template-webview">
		<div class="flex-row">
			{#{% include "structure/_sidebar.njk" %}#}
			<div class="flex-column flex-grow">
				{#{% include "structure/_topbar.njk" %}#}
				{% include "structure/_page.njk" %}
			</div>
		</div>
	</template>

	<div id="main-container" class="main-container"></div>

	<div id="loading-page">
		{% include "extra/_site-loader.njk" %}
	</div>
	<div id="debug-layer" class="debug"></div>
</body>
</html>
