<!DOCTYPE html>
<html lang="{{ head.lang }}" class="no-js">
	<head>
		{% include "_head.njk" %}
	</head>
<body class="emerix-page">

	<div class="flex-row">
		{% include "structure/_navigation.njk" %}
		<div class="flex-column flex-grow">
			{% include "structure/_topbar.njk" %}
			<div class="pages-container">
				{% include "pages/_home.njk" %}
			</div>
		</div>
	</div>
</body>
</html>