<main id="main-container" class="main-container">
	{#{% include "structure/_navigation.njk" %}
	{% include "structure/_sidebar.njk" %}

	{% include "pages/_login.njk" %}#}
	{% include "pages/_home.njk" %}
	
</main>
