<main id="main-container" class="main-container">
	{#{% include "structure/_navigation.njk" %}
	{% include "structure/_sidebar.njk" %}#}

	<div class="pages-container">
		{#{% include "pages/_login.njk" %}#}
		{% include "pages/_home.njk" %}
	</div>
	
</main>
