.page-account {
	h3 {
		font-size: 1.75rem;
		color: $violet;
		font-weight: normal;
		padding: 0;
		margin-bottom: .5rem;
	}

	h3 + p {
		margin: 0;
		font-size: 1.3125rem;
	}


	.btn {
		padding: .25rem 1rem;
		line-height: 0.8rem;
		border-color: $violet;
		font-weight: normal;
		font-size: 12px;

		@media all and (max-width: $mobileWidth) {
			left: 1rem;
			width: calc(100% - 2rem);
		}
	}
}