.page-account {
	h3 {
		font-size: 1.75rem;
		color: $violet;
		font-weight: normal;
		padding: 0;
		margin-bottom: .5rem;
	}

	h3 + p {
		margin: 0;
		font-size: 1.3125rem;
	}


	.btn {
		padding: .25rem 1rem;
		line-height: 0.8rem;
		border-color: $violet;

		span {
			vertical-align: middle;
			font-weight: normal;
			font-size: 12px;
			white-space: nowrap;
		}

		&.save {
			&:before {
				content: url("/assets/images/sections/account/save.svg");
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.edit {
			&:before {
				content: url("/assets/images/sections/account/edit.svg");
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.clear {
			border: none;
			background: none;
			padding: 0;
			
			&:before {
				content: url("/assets/images/sections/account/clear.svg");
				display: inline-block;
				vertical-align: middle;
			}
		}

		@media all and (max-width: $mobileWidth) {
			width: auto;
			padding: .25rem;

			span {
				display: none;
			}
		}
	}

	.text-right {
		display: flex;
		justify-content: right;
	}

	.icns {
		margin-right: 1rem;
	}
}