.page-billings {

	h4 {
		margin-top: 0;
		img {
			vertical-align: middle;
			float: left;
			margin-right: .5rem;
		}
	}

	.card-dropdown-container {
		margin-left: -.5rem;
		margin-right: -.5rem;
	}
	.card-dropdown {
		background-color: $darksmoke;
		border-radius: $std-radius;
		padding: 0.5rem;
		font-weight: bold;
	}


	.dropdown-title::after {
		top: .4rem;
		right: .4rem;
	}

	&.billings-home .dropdown-title::after {
		top: -3rem;
	}

	&.billings-home .special-mobile-selectable-box {
		.box {
			padding-bottom: 0;
		}

		.dropdown-target {
			margin-top: -1rem;
		}
	}

	.card-dropdown-target {
		background-color: $darksmoke;
		border-radius: $std-radius;
		font-size: 12px;
		text-transform: uppercase;
		padding-bottom: .5rem;

		li {
			&:before {
				content: '•';
				display: inline-block;
				margin-left: .5rem;
				margin-right: .5rem;
			}
		}
	}

	.data-field {
		margin-bottom: 1rem;

		> div {
			margin: .5rem 0;
		}
	}

	.btn {
		text-align: center;
		margin-bottom: 1rem;;
	}

	.price-container.text-normal {
		.denomination {
			font-size: .75em;
		}
		sup {
			top: 0;
			&:before {
				content: ',';
			}
		}
	}

	a[data-popup] {
		font-size: 12px;
		color: $violet;
		text-decoration: none;
		text-align: center;
		display: block;
	}

	@media all and (max-width: $tabletWidth) {
		.table-container {
			label {
				img {
					width: 1.5rem;
				}
			}
		}

		.btn + .btn {
			margin-left: 0;
			margin-top: 1rem;
		}

		h4 {
			color: $black;
			font-size: 1rem;

			img {
				width: 2rem;
				float: none;
			}
		}

		.data-field {
			display: flex;
			flex-direction: row;
			margin-bottom: 0;

			div {
				width: 50%;

				& + div {
					position: relative;

					> div {
						position: absolute;
						top: 0;
						right: 0;
						text-align: right;
					}
				}
			}
		}

		.card-dropdown {
			pointer-events: none;

			&:after {
				display: none;
			}
		}

		.card-dropdown-container {
			margin-left: 0;
			margin-right: 0;
		}

		.dropdown-target {
			//max-height: none;
		}

		.card-global-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			height: 3.5rem;

			&:after {
				top: 1rem;
				right: 1rem;
			}

		}

		input:not(:checked) + .card-global-wrapper + .dropdown-target {
			max-height: 2rem;
		}
	}
}

.dialog-container.billing-dialog {
	padding: 0;
}

.billing-dialog {
	max-width: 44.5rem;
	width: 44.5rem;
	padding: 0;

	h3 {
		font-size: 1.125rem;
		
		@media all and (max-width: $tabletWidth) {
			margin-top: 0;
		}

		img {
			vertical-align: middle;
			margin-right: .5rem;
		}
	}

	.billing-dialog-content {
		padding: 0;
		overflow: hidden;
		overflow-y: hidden;
		overflow-y: auto;
		max-height: calc(100vh - 6rem);
		margin-top: 1rem;
	}


	.btn {
		width: 100%;
		text-align: center;
		font-size: 16px;
	}

	.table-container {
		.table {
			padding: 0 1.5rem;

			td {
				height: 2.5rem;

				&:first-child {
					width: 10%;
				}
			}

			tr {
				padding: 0;
				&:not(:last-child) {
					border-bottom: 1px solid $lightgray;
				}
			}
			.table-header {
				display: flex;
			}
		}
	}
}