.page-billings {

	h4 {
		margin-top: 0;
		img {
			vertical-align: middle;
			float: left;
			margin-right: .5rem;
		}
	}

	.card-dropdown-container {
		margin-left: -.5rem;
		margin-right: -.5rem;
	}
	.card-dropdown {
		background-color: $darksmoke;
		border-radius: $std-radius;
		padding: 0.5rem;
		font-weight: bold;
	}


	.dropdown-title::after {
		top: .4rem;
		right: .4rem;
	}

	.card-dropdown-target {
		background-color: $darksmoke;
		border-radius: $std-radius;
		font-size: 12px;
		text-transform: uppercase;
		padding-bottom: .5rem;

		li {
			&:before {
				content: '•';
				display: inline-block;
				margin-left: .5rem;
				margin-right: .5rem;
			}
		}
	}

	.data-field {
		margin-bottom: 1rem;

		div {
			margin: .5rem 0;
		}
	}

	.btn {
		text-align: center;
		margin-bottom: 1rem;;
	}

	.price-container.text-normal {
		.denomination {
			font-size: .75em;
		}
		sup {
			top: 0;
			&:before {
				content: ',';
			}
		}
	}

	a[data-popup] {
		font-size: 12px;
		color: $violet;
		text-decoration: none;
		text-align: center;
		display: block;
	}

	@media all and (max-width: $tabletWidth) {
		.btn + .btn {
			margin-left: 0;
			margin-top: 1rem;
		}
	}
}

.dialog-container.billing-dialog {
	padding: 0;
}

.billing-dialog {
	max-width: 44.5rem;
	width: 44.5rem;
	padding: 0;

	h3 {
		font-size: 1.125rem;
		
		@media all and (max-width: $tabletWidth) {
			margin-top: 0;
		}

		img {
			vertical-align: middle;
			margin-right: .5rem;
		}
	}


	.btn {
		width: 100%;
		text-align: center;
		font-size: 16px;
	}

	.table-container {
		.table {
			padding: 0 1.5rem;

			td {
				height: 2.5rem;

				&:first-child {
					width: 10%;
				}
			}

			tr {
				padding: 0;
				&:not(:last-child) {
					border-bottom: 1px solid $lightgray;
				}
			}
			.table-header {
				display: flex;
			}
		}
	}
}