.page-faqs {
	.input-wrapper {
		margin-bottom: 0;

		&.search.filled:after {
			background-image: url("/assets/images/ui/close-btn.svg");
		}
	}

	.accordion-title a {
		font-size: 1.125rem;
		color: $violet;
		margin-bottom: .5rem;
	}
	.accordion-content {
		padding-top: 1rem;
	}


}