.page-faqs {
	.accordion-title {
		font-size: 1.125rem;
		color: $violet;
		margin-bottom: .5rem;
	}

	.accordion {
		li {
			margin-bottom: 1rem;

			.accordion-title {
				cursor: pointer;
			}

			.accordion-content {
				transition: all $transition-normal;
			}

			&:not(.active) .accordion-content {
				height: 0;
				opacity: 0;
				overflow: hidden;
			}
		}
	}
}