.page-home {
    .payment-plans,
    .promises-latest {
    
        margin: 1rem 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid $lightgray;
    
        p  {
            margin-top: 0.25;
            margin-bottom: 0;
        }
    
    }
}