@import '../vars';

.page-home {
    margin-top: 1rem;
    padding: 1rem;

    .first-row {
        margin-top: 0;
    }

    .home-illus-container {
       flex-grow: 1;
       position: relative;
       height: 100%;

        .home-illus {
            position: absolute;
            top: -50%;
            left: 0;
        }
    }



    .prom-text {
        color: $orange;
        font-weight: bold;

        background-image: url('/assets/images/sections/home/prom.svg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 190px;

        .btn {
            color: $white;
            border-color: $white;
            padding: .625rem 1.5rem;
            line-height: 0.8rem;
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }

    .list-view-title h2 {
        margin: 0;
    }

    .payment-plans,
    .promises-latest {
        margin: 0 -2rem;
        padding: 1rem 2rem;
        border-bottom: 1px solid $smoke;
    
        p  {
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
    
    }

    .plan-date,
    .promise-date {
        color: $silver;
    }

    .promises-latest {
        &:hover {
            background-color: $smoke;
            color: $violet;
            
        }
    }

    hr {
        background-color: $smoke;
        margin-left: -2rem;
        margin-right: -2rem;
        margin-bottom: 0;
    }

    .bullet {
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        border-radius: 1rem;
        border: 5px solid;
        margin-right: .5rem;

        &.green {border-color: $green;}
        &.yellow {border-color: $yellow;}
        &.red {border-color: $red;}
    }

    .wide-link {
        margin-top: 1.5rem;
        margin-bottom: 0;
    
        a {
            display: block;
            width: 100%;
            text-decoration: none;
            position: relative;
            padding-top: .5rem;
            color: $black;
            
            &:after {
                content: url("/assets/images/ui/buttons/link-go.svg");
                position: absolute;
                top: 60%;
                right: 0;
                transform: translate(0, -50%);
            }
        }
    }

    .list-view-add {
        width: 2rem;
        height: 2rem;
        background-image: url("/assets/images/ui/btn-agregar.svg");
        background-repeat:  no-repeat;
        background-size: contain;
        cursor: pointer;
        
        &:hover {
            background-image: url("/assets/images/ui/btn-agregar-active.svg");
        }
    }
}

@media all and (max-width: $mobileWidth) {
    .page-home {
        .date {
            margin-top: 0;
        }

        .btn {
            width: 100%;
        }

        .flex-column-on-mobile {
            .flex-center {
                align-items: flex-start;
            }
        }

        .wide-link {
            margin-top: 1rem;
            margin-bottom: -.5rem;
        }

        .list-view-add {
            display: none;
        }
    }
}