@import '../vars';

.page-home {
    margin-top: 1rem;
    padding: 1rem;

    .home-area {
        max-width: 450px;
    }

    .payment-plans,
    .promises-latest {
    
        margin: 1rem -2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid $smoke;
    
        p  {
            margin-top: 0.25;
            margin-bottom: 0;
        }
    
    }

    .plan-date,
    .promise-date {
        color: $silver;
    }

    .promises-latest {
        &:hover {
            background-color: $smoke;
            color: $violet;
            
        }
    }

    hr {
        background-color: $smoke;
        margin-left: -2rem;
        margin-right: -2rem;
    }

    .bullet {
        display: inline-block;
        vertical-align: middle;
        width: .25rem;
        height: .25rem;
        border-radius: 1rem;
        border: .4rem solid;
        margin-right: .5rem;

        &.green {border-color: $green;}
        &.yellow {border-color: $yellow;}
        &.red {border-color: $red;}
    }

    .wide-link {
        display: block;
        width: 100%;
        text-decoration: none;
        position: relative;
        padding-top: .5rem;
        color: $black;
        
        &:after {
            content: '>';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
    }

    .list-view-add {
        width: 2rem;
        height: 2rem;
        background-image: url("/assets/images/ui/btn-agregar.svg");
        background-repeat:  no-repeat;
        background-size: contain;
        cursor: pointer;
        
        &:hover {
            background-image: url("/assets/images/ui/btn-agregar-active.svg");
        }
    }
}