.page-pay {
	$itemMargin: 15px;

	@media all and (max-width: $tabletWidth) {

		label img {
			width: 1.5rem;
		}
		.selector-icon {
			width: 25%;
			min-width: 3.5rem;
			margin-right: 1rem;
		}

	}

	&.pay_1 {
		.selectable-box {
			span:first-child {
				padding-bottom: 1rem;
			}
			.box:not(.active) {
				color: $silver;
			}

			.box + .box .price-container {
				padding-bottom: .5rem;
				margin-bottom: -.5rem;
				border-bottom: 1px solid;
			}

		}
	}

	&.pay {
		.box.active {
			p {
				font-weight: bold;
			}

			img {
				display: none;
			}

			img+img {
				display: block;
			}
		}

		.box:not(.active) {
			img {
				display: block;
			}

			img+img {
				display: none;
			}
		}
	}

	.input-wrapper.huge.price {
		margin-bottom: 0;
	}

	.dropdown-card {
		position: relative;

		.dropdown-title {
			position: absolute;
			top: -3rem;
			right: 0;
		}
	}

	.payment-selector {
		background-color: $white;

		ul {
			flex-wrap: wrap;
			margin-left: -$itemMargin;
			margin-right: -$itemMargin;

			@media all and (max-width: $tabletWidth) {
				margin-left: 0;
				margin-right: 0;
			}
		}

		li {
			width: 72px;
			height: 48px;
			border-radius: $std-radius;
			border: 1px solid $lightgray;
			margin: $itemMargin;

			@media all and (max-width: $tabletWidth) {
				width: 44px;
				height: 28px;
				margin: .5rem;
			}

			img {
				max-height: 100%;
				padding: .5rem;
			}

			&.active {
				border-color: $violet;
			}

		}
	}

	&.pay_2 {
		@media all and (max-width: $tabletWidth) {
			.margin-bottom-on-mobile {
				margin-bottom: .25rem;
			}
		}
	}

	&.pay_4 {
		@media all and (max-width: $tabletWidth) {
			.box.col-1-2.full-width-mobile {
				margin-bottom: 0;
			}

			.table-container .table td {
				min-height: 32px;
			}
		}
	}

	&.pay_5 {
		.selectable-box {
			flex-wrap: wrap;

			@media all and (max-width: $tabletWidth) {
				flex-direction: row;
			}
		}
		.payment-selector {
			.box {
				display: flex;
				padding: 0;
				box-shadow: none;
				justify-content: center;
				align-items: center;
			}
		}
	}
}