@import '../vars';

.page-pay {
    padding: 1rem;

	.table {
        .input-wrapper {
			margin-bottom: 0;
			height: 1rem;
        }
        
		&.disabled {
			color: $silver;

			tr.table-header {
				color: $silver;
				background-color: transparent;
			}
		}

		tr:not(.table-header) {
			/*cursor: pointer;

			&:hover * {
				color: $violet;
            }*/
		}
	}

	.icon-inline {
		float: left;
		overflow: hidden;
		margin-right: 0.5rem;
	}

	.pay-mini {
		max-width: 25em;
		margin-left: auto;
		padding-left: 1.5rem;

		.box {
			height: 4.65rem;
		}

		input:checked ~ label {
			color: $violet;
		}

		input:checked ~ label .box {
			border: 1px solid $violet;
		}

		input:checked~label {
			.payment-title {
				color: $violet;
			}
		}

		.payment-title {
			color: $lightgray;
			width: 60%;
			margin-right: 3rem;
		}

		.input-fake-radio {
			position: absolute;
			top: 50%;
			right: 100%;
			transform: translate(0, -50%);
		}

		.payment-title {
			max-width: 5.375em;
		}

		label {
			padding: 0;
			margin: 0;
		}
	}

	&.pay-first {
		.table-1 {
			tr {
				td {

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6) {
						text-align: right;
					}
				}
			}
		}

		.table-2,
		.table-3 {
			tr {
				td {

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						text-align: right;
					}
				}
			}
		}
	}

	&.pay-second {
		.table-1 {
			tr {
				td {
					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6) {
						text-align: right;
					}
				}
			}
		}

		.table-2,
		.table-3 {
			tr {
				td {

					&:nth-child(2),
					&:nth-child(3),
					&:nth-child(4) {
						text-align: right;
					}
				}
			}
		}
	}


	.payment-selector {
		background-color: $white;

		li {
			width: 105px;
			height: 75px;
			border-radius: $std-radius;
			border: 1px solid $lightgray;

			&.active {
				border-color: $violet;
			}

			& + li {
				margin-left: 2rem;
			}
		}
	}
}


#deals-sidebar {

	&.active .sidebar {
		width: 100%;

		>div {
			padding: 1rem;
		}
	}

	.dialog-container {
		padding: 0;
		max-width: 320px;
		left: auto;
		right: 0;

		height: 100vh;
		overflow: hidden;
		overflow-y: auto;

		position: static;
		background-color: transparent;
		border: 0;
		padding: 0;
		margin: 0;
		border-radius: 0;
		box-shadow: none;
		transform: none;
	}

	//TODO igual al .dialog-container ???
	.sidebar {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		background-color: $smoke;
		width: 0;
		transition: all $transition-normal;
	}

	.close-btn {
		top: 0;
		right: 0;
		bottom: auto;

		img {
			display: block;
			width: 1.188rem;
			height: 1.188rem;
		}
	}


}