.page-payments {
	$itemMargin: 15px;

	@media all and (max-width: $tabletWidth) {

		.col-container {
			flex-direction: row;

			&.flex-column-on-mobile {
				flex-direction: column;
				> * {
					margin: .5rem 0;
					width: 100% !important;
				}
			}

			> * {
				&:first-child {
					width: 60%;
				}

				&:last-child {
					width: 30%;
				}

				margin: 0 (2rem / 2);

				&:first-child {
					margin-left: 0;
				}


				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	.payment-selector {
		background-color: $white;

		ul {
			flex-wrap: wrap;
			margin-left: -$itemMargin;
			margin-right: -$itemMargin;
		}

		li {
			width: 70px;
			height: 48px;
			border-radius: $std-radius;
			border: 1px solid $lightgray;
			margin: $itemMargin;

			@media all and (max-width: $tabletWidth) {
				width: 42px;
				height: 28px;
			}

			img {
				max-height: 100%;
				padding: .5rem;

				@media all and (max-width: $tabletWidth) {
					padding: .25rem;
				}
			}

			&.active {
				border-color: $violet;
			}

		}
	}

	.selectable-box {
		flex-wrap: wrap;

		@media all and (max-width: $tabletWidth) {
			flex-direction: row;
		}
	}

	.payment-selector {
		.box {
			display: flex;
			padding: 0;
			box-shadow: none;
			justify-content: center;
			align-items: center;
		}
	}
}