.page-pay {
	$itemMargin: 15px;

	&.pay_1 {
		.selectable-box {
			span:first-child {
				padding-bottom: 1rem;
			}
			.box:not(.active) {
				color: $silver;
			}

			.box + .box .price-container {
				padding-bottom: .5rem;
				margin-bottom: -.5rem;
				border-bottom: 1px solid;
			}

		}
	}

	@media all and (max-width: $mobileWidth) {
		.selectable-box {
			text-align: center;
		}
	}

	&.pay {
		.box.active {
			p {
				font-weight: bold;
			}

			img {
				display: none;
			}

			img+img {
				display: block;
			}
		}

		.box:not(.active) {
			img {
				display: block;
			}

			img+img {
				display: none;
			}
		}
	}

	.input-wrapper.huge.price {
		margin-bottom: 0;
	}

	.payment-selector {
		background-color: $white;

		ul {
			flex-wrap: wrap;
			margin-left: -$itemMargin;
			margin-right: -$itemMargin;
		}

		li {
			width: 72px;
			height: 48px;
			border-radius: $std-radius;
			border: 1px solid $lightgray;
			margin: $itemMargin;

			@media all and (max-width: $mobileWidth) {
				width: 44px;
				height: 28px;

			}

			img {
				max-height: 100%;
				padding: .5rem;
			}

			&.active {
				border-color: $violet;
			}

		}
	}
}