.page-plans {
	.plans-table {
		.table-data {
			> div:nth-child(1) {
				width: 30%;
			}

			> div:nth-child(2) {
				width: 26%;
			}

			> div:nth-child(3) {
				width: 18%;
				text-align: center;
			}

			> div:nth-child(4) {
				width: 18%;
				text-align: right;
			}

			> div:nth-child(5) {
				width: 8%;
			}
		}

		td:nth-child(1) {
			width: 22%;
		}

		td:nth-child(2) {
			width: 20%;
		}

		td:nth-child(3) {
			width: 10%;
		}

		td:nth-child(4) {
			width: 10%;
		}

		td:nth-child(5) {
			width: 1%;
		}

		.table-header {
			td {
				align-items: flex-start;
				justify-content: center;
			}
			td:nth-child(1) {
				width: 22%;
			}
			
			td:nth-child(2) {
				width: 20%;
			}
			
			td:nth-child(3) {
				width: 10%;
				align-items: center;
			}

			td:nth-child(4) {
				width: 10%;
				align-items: flex-end;
			}
			
			td:nth-child(5) {
				width: 1%;
				align-items: flex-end;
			}

		}

		:not(.table-header) {
			td {
				flex-direction: column;
				width: 100%;
			}
		}

	}

	.site-select {
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.input-wrapper {
			width: 8rem;
			margin-right: 0rem;

			&:not(.active) ul {
				background-color: transparent;
			}

			&:after {
				right: .5rem;
			}
		}
	}

	.status-label {
		display: inline-block;
	}

	.table-data {
		height: 64px;
		align-items: center;
	}

	.active {
		.overview {
			padding: 1rem 0;
			max-height: 100vh;
			opacity: 1;
		}
	}

	.overview {
		width: 100%;
		//display: none;

		max-height: 0;
		opacity: 0;
		transition: all $transition-fast;

		li {
			margin-bottom: .5rem;

			font-weight: normal;
		}
	}

	.last-row {
		margin-top: 1rem;
		align-items: center;
		
		a {
			color: $violet;
			margin-right: 1rem;
			font-size: .85rem;
			text-decoration:  none;
		}
		
		.btn {
			font-size: .85rem;
			padding: 0 1rem;
			font-weight: 500;
			letter-spacing: .5px;
		}
	}
}


.page-plans {

	.box-table-container {
		@media all and (max-width: $tabletWidth) {
			box-shadow: none;
			padding: 0;
			margin: .5rem;
			border: 0;
			background: transparent;
		}

		@media all and (max-width: $tabletWidth) {
			tr {
				background-color: $white;
				border: 1px solid transparentize($silver, .85);
				padding: $box-padding;
				margin: 1rem 0;
				border-radius: $box-radius;
				box-shadow: .25rem .5rem 1rem transparentize($black, .9);
				border-top-left-radius: 2px;
				border-bottom-left-radius: 2px;
				border-left: 4px solid $violet;
				position: relative;
			}
		}
	}

	.logs-table {
		@media all and (max-width: $tabletWidth) {
			.col-1-4.text-right {
				margin-right: 1rem;
			}

			.download-icn {
				position: absolute;
				top: 50%;
				right: .5rem;
				transform: translateY(-50%);
				width: 1rem;
			}
		}

		@media all and (min-width: $tabletWidth + 1) {
			.download-icn {
				display: none;
			}

			tr {
				&:hover {
					.download-icn {
						display: inline;
					}
				}
			}
		}
	}

}


.plans-dialog {
	max-width: 44.5rem;
	width: 44.5rem;
	padding: 0;

	.plans-dialog-content {
		padding: 0;
	}

	h3 {
		font-size: 1.125rem;

		@media all and (max-width: $tabletWidth) {
			margin-top: 0;
		}

		img {
			vertical-align: middle;
			margin-right: .5rem;
		}
	}


	.btn {
		width: 100%;
		text-align: center;
		font-size: 16px;
	}

	.table-container {
		.table {
			padding: 0 1.5rem;

			td {
				height: 2.5rem;

				&:first-child {
					width: 10%;
				}
			}

			tr {
				padding: 0;

				&:not(:last-child) {
					border-bottom: 1px solid $lightgray;
				}
			}

			.table-header {
				display: flex;
			}
		}
	}
}