@import '../vars';

.page-promises {
	.input-wrapper.huge.price {
		margin-bottom: 0;
	}

	&.promises_1 {
		@media all and (max-width: $tabletWidth) {
			.col-3-6 {
				width: 100%;
			}
		}
	}

	&.promises {
		.box.active {
			p {
				font-weight: bold;
			}

			img {
				display: none;
			}

			img+img {
				display: block;
			}
		}

		.box:not(.active) {
			img {
				display: block;
			}

			img+img {
				display: none;
			}
		}
	}

	.dropdown-card {
		position: relative;

		.dropdown-title {
			position: absolute;
			top: -2rem;
			right: 0;
		}
	}
}