@import '../vars';

.page-promises {

	.promises {
		.box.active {
			p {
				font-weight: bold;
			}

			img {
				display: none;
			}

			img+img {
				display: block;
			}
		}

		.box:not(.active) {
			img {
				display: block;
			}

			img+img {
				display: none;
			}
		}
	}
}