{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}
{% from "../components/_forms.njk" import input %}

<section class="page-account">
	{{ header({
		section: 'Tu perfil'
	}) }}

    <div class="restrict-width small">
        {{ title({
		    title: 'Esta es la información con la que contamos',
            subtitle: '<span></span>Tus datos de acceso al portal'
	    }) }}
        <div class="flex-column flex-center box">
			<img src="/assets/images/sections/account/icon.svg" alt="User icon">
			<h3>Nicolas Alberto Moroso</h3>
			<p>DNI 31910555</p>
			<div class="flex-row full-width">
				<div class="col-1-2 flex-row">
					<div class="icns">
						<p><img src="/assets/images/sections/account/mail.svg" alt=""></p>
					</div>
					<div class="flex-grow">
						<p class="flex-row"><strong>Mail principal</strong></p>
						<p>{{input({placeholder: 'nico_moroso@gmail.com'})}}</p>
					</div>
				</div>
				<div class="col-1-2">
					<p class=""><button class="btn secondary save">Guardar</button></p>
				</div>
			</div>
			<div class="flex-row full-width">
				<div class="col-1-2 flex-row">
					<div class="icns">
						<p><img src="/assets/images/sections/account/phone.svg" alt=""></p>
					</div>
					<div class="flex-grow">
						<p class="flex-row"><strong>Teléfono principal</strong></p>
						<p>+ 54 9 11 3690 9090</p>
					</div>
				</div>
				<div class="col-1-2">
					<p class=""><button class="btn secondary edit">Modificar</button></p>
				</div>
			</div>
		</div>
    </div>

</section>