{% from "../structure/_header.njk" import header %}
{% from "../structure/_success.njk" import success %}

<section class="page-pay pay-success">
	{{ header({
		link: {
            text: 'volver a Inicio',
            href: '/index.html'
        }
	}) }}

    {{ success({
        title: '¡El plan de pago se generó con éxito!',
        subtitle: 'Ingresando a la opción <strong>Pagar</strong> podés saldar la Promesa a través del pago online, transferencia por homebanking o de manera física y luego registrar el pago.'
    }) }}
</section>