{% from "../components/_tables.njk" import table %}
{% from "../components/_dialogs.njk" import dialog %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../components/_breadcrumbs.njk" import breadcrumb %}

{% set page = pages.deals_0 %}

{{ dialog(page.sidebar) }}

<section class="page-deals restrict-desktop">
	<div class="flex-row flex-center">
		<h1 class="flex-grow">{{ page.title }}</h1>
		<div>{{ breadcrumb({
			'items': ['item1', 'item2', 'item3', 'item4'],
			'index': 0
		}) }}</div>
	</div>
	<div class="flex-row">
	{{ table(page.table, {'specialType': 'checkbox'}) }}
	</div>
	<form class="flex-column deal-mini" novalidate> 
		<div>
			{% call input({
				'type': 'radio',
				'id': 'payment-total',
				'name': 'payment-type',
				'specialLabel': 1
			}) %}
				<div class="box flex-row flex-center">
					<div class="payment-title">IMPORTE FINAL</div>
					<div class="text-right flex-grow"><strong>$0,00</strong></div>
				</div>
			{% endcall %}
		</div>
		<div>
			{% call input({
				'type': 'radio',
				'id': 'payment-parcial',
				'name': 'payment-type',
				'specialLabel': 1
			}) %}
				<div class="box flex-row flex-center">
					<div class="payment-title">OTRO IMPORTE</div>
					<div class="text-right flex-grow">
						{{ input({'type': 'number'}) }}
					</div>
				</div>
			{% endcall %}
		</div>
		<div>
			<div class="box flex-row flex-center">
				<div class="payment-title">PERIODO</div>
				<div class="text-right flex-grow">
					{{ select({
						'id': 'deal_selec',
						'items': ['24hs', '48hs', '72hs', 'Elegir fecha'],
						'placeholder': page.page_1.dni_type_placeholder
					}) }}
				</div>
			</div>
		</div>
		<div class="text-right buttons-container">
			<button class="btn">Generar promesa</button>
		</div>
	</form>
</section>