{% set page = pages.home %}
<section class="page-home">
	<div class="flex-row flex-column-on-mobile justify-center">
		<div class="flex-column flex-grow home-area">
			<div class="box">
				<p>{{ page.status.title }}</p>
				<p class="text-xxlarge text-nowrap">$ 10590,57</p>
				<p>{{ page.status.count }}</p>
				<p class="text-large">6</p>
				<p>{{ page.status.due }}</p>
				<p><strong>10/06/19</strong></p>
				<button class="btn">{{ page.status.btn }}</button>
			</div>
			<div class="box">
				<div class="list-view">
					<div class="list-view-title">
						<h2>{{ page.payments.title }}</h2>
						<div class="list-view-add"></div>
					</div>
					<hr>
					<ul class="list-view-content">
						{% for plan in page.payments.plans %}
						<li class="flex-row promises-latest">
							<div class="flex-column flex-grow">
								<p class="plan-text">{{ plan.text }}</p>
								<p class="plan-date">{{ plan.date }}</p>
							</div>
							<div class="flex-column flex-center">
								<p>{{ plan.status }}</p>
							</div>
						</li>
						{% endfor %}
					</ul>
					<p><a href="#" class="wide-link">{{ page.payments.view }}</a></p>
				</div>
			</div>
		</div>
		<div class="flex-column flex-grow home-area">
			<div class="box">
				<p class="text-center"><img src="{{ page.promotions.src }}" alt=""></p>
				<hr>
				<p><a href="#" class="wide-link">{{ page.promotions.view }}</a></p>
			</div>
			<div class="box">
				<div class="list-view">
					<div class="list-view-title">
						<h2>{{ page.promises.title }}</h2>
						<div class="list-view-add"></div>
					</div>
					<hr>
					<ul class="list-view-content">
						{% for promise in page.promises.latest %}
						<li class="flex-row promises-latest">
							<div class="flex-column flex-grow">
								<p class="promise-price">{{ promise.price}}</p>
								<p class="promise-date">{{ promise.cant}}</p>
							</div>
							<div class="flex-column flex-center">
								<p>{{ promise.date }}</p>
							</div>
						</li>
						{% endfor %}
					</ul>
					<p><a href="#" class="wide-link">{{ page.promises.view }}</a></p>
				</div>
			</div>
		</div>
	</div>
</section>