{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}
{% from "../components/_tables.njk" import table %}
{% from "../components/_dialogs.njk" import dialog %}

{% set page = {
			"sidebar": {
				"id": "home-sidebar",
				"class": "sidebar",
				"content": "<div class='flex-column'><h2>Detalle de producto</h2><h3>Tipo de producto</h3><p>TC VISA XXXX XXXX XXXX 1234</p><h3>Deuda</h3><p>$1200</p><h3>Última fecha de pago</h3><p>03/12/96</p><h3>Nº Comprobante</h3><p>34324324443-9</p><h3>Sucursal</h3><p>504 - La Plata</p><button class='btn secondary hover'><img src='/assets/images/ui/buttons/download.svg' alt=''> Libre deuda</button></div>"
			},
			"status": {
				"title": "Tu deuda actual es:",
				"btn": "¡Pagar ahora!"
			},
			"productos": {
				"class": "selectable",
				"colsClasses": ["col-3-6", "col-1-6 text-center desktop-only", "col-1-4 text-center desktop-only", "col-2-6 text-right"],
				"header": [
					"Producto",
					"Vencimiento",
					"Atraso",
					"Monto adeudado"
				],
				"data": [
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/prestamos.svg' alt=''>&nbsp;PRÉSTAMO 36 cuotas", "01/10/20", "1 día", "$19450,87"],
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/seguros.svg' alt=''>&nbsp;PRÉSTAMO 12 cuotas", "12/10/20", "0", "$19450,87"],
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/tc.svg' alt=''>&nbsp;TC VISA 5400", "08/10/20", "2 días", "$19450,87"],
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/tc.svg' alt=''>&nbsp;TC MASTER 2431", "08/10/20", "4 días", "$19450,87"],
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/refinanciacion.svg' alt=''>&nbsp;TC MASTER 2431", "08/10/206", "20 días", "$19450,87"]
				]
			},
			"planes": {
				"class": "selectable",
				"colsClasses": ["col-3-5", "col-2-5 text-right"],
				"rowsClasses": ["", "", "disabled"],
				"data": [
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/refinanciacion.svg' alt=''>&nbsp;<div class='flex-column text-small'><div class='text-semi'>TC VISA 5400</div><div>Refinancioación 12</div></div>", "<div class='status-label'><span class='bullet yellow'></span>EN ESPERA</div>"],
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/refinanciacion.svg' alt=''>&nbsp;<div class='flex-column text-small'><div class='text-semi'>Préstamo personal</div><div>Refinancioación 12</div></div>", "<div class='status-label'><span class='bullet yellow'></span>EN ESPERA</div>"],
					["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/refinanciacion.svg' alt=''>&nbsp;<div class='flex-column text-small'><div class='text-semi'>TC MASTER 2431</div><div>Refinancioación 12</div></div>", "<div class='status-label'><span class='bullet green'></span>APROBADO</div>"]
				]
			},
			"promesas": {
				"class": "selectable",
				"colsClasses": ["", "text-right"],
				"rowsClasses": ["", "", "disabled"],
				"data": [
					["<div class='flex-row flex-center'><div class='date-box'><span class='month'>Abr</span><span class='number'>12</span></div><div class='item-label'>$17,900</div></div>", "<a href='/pagar.html'><button class='btn'>Pagar</button></a>"],
					["<div class='flex-row flex-center'><div class='date-box'><span class='month'>Dic</span><span class='number'>31</span></div><div class='item-label'>$37,670</div></div>", "<a href='/pagar.html'><button class='btn'>Pagar</button></a>"],
					["<div class='flex-row flex-center'><div class='date-box'><span class='month'>Jul</span><span class='number'>05</span></div><div class='item-label'>$12,500</div></div>", "<div class='status-label'><span class='bullet red'></span>VENCIDA</div>"]
				],
				"view": "Ver todas las promesas"
			}
		}
%}


{{ dialog(page.sidebar) }}

<section class="page-home">

	{{ header({
		section: 'Inicio'
	}) }}
	<div class="restrict-width large">
		<div>
			{{ title({
				class: 'large',
				title: 'Hola Nicolas,',
				subtitle: '¡Es un gusto verte por acá! Queremos ayudarte a alivianar tus deudas ;)'
			}) }}
		</div>
			
		<div class="flex-row justify-center flex-column-on-mobile col-container">
			<div class="flex-column col-2-3">
				<div class="box flex-row relative">
					<div class="flex-grow debt-container">
						<p class="first-row">{{ page.status.title }}</p>
						<p class="text-nowrap"><span class="text-xlarge">$</span> <span class="text-xxlarge">199590</span> <sup class="text-large">57</sup></p>
						<a href="/pagar.html"><button class="btn">{{ page.status.btn }}</button></a>
					</div>
					<div class="home-illus-container desktop-only">
						<img class="home-illus" alt="" src="/assets/images/sections/home/ilustracion.svg">
					</div>
				</div>
				<div class="mobile-only">
					<ul class="flex-row mobile-btns">
						<li class="col-1-3 text-center">
							<a href="/avisar.html">
								<img src="/assets/images/sections/home/01.svg" alt="">
								Avisar que pagué
							</a>
						</li>
						<li class="col-1-3 text-center">
							<a href="/prometer.html">
								<img src="/assets/images/sections/home/02.svg" alt="">
								Prometer una fecha
							</a>
						</li>
						<li class="col-1-3 text-center">
							<a href="/pagar.html">
								<img src="/assets/images/sections/home/03.svg" alt="">
								Pagar en cuotas
							</a>
						</li>
					</ul>
				</div>
				<div class="">
					<h2>Tus productos</h2>
					<div id="products-table" class="flex-row box">
						{{ table(page.productos) }}
					</div>
				</div>
			</div>
			<div class="flex-column col-1-3">
				<div class="box prom-text relative">
					<p>Diseñamos un plan de pago especialmente para vos ;)</p>
					<div class="text-right">
						<button class="btn secondary">Ver plan</button>
					</div>
				</div>
				<div>
					<h2>Promesas de pago</h2>
					<div class="box promises-table">
						{{ table(page.promesas) }}
						<hr>
						<div class="wide-link">
							<a href="/prometer.html">Generar una promesa</a>
						</div>
					</div>
				</div>
				<div class="">
					<h2>Planes de pago</h2>
					<div class="box">
						{{ table(page.planes) }}
						<hr>
						<div class="wide-link">
							<a href="/pagar.html">Generar un plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	const overlay = document.querySelector('#home-sidebar')

	document.querySelectorAll('#products-table tr').forEach((tr) => {
		tr.addEventListener('click', () => {
			overlay.classList.add('active')
		})
	})

	overlay.querySelector('.close-btn').addEventListener('click', () => {
		overlay.classList.remove('active')
	})

</script>