{% from "../components/_tables.njk" import table %}

{% set page = pages.invoice %}
<section class="page-invoice">
	<h1 class="flex-row">{{ page.title }}</h1>
	<div class="flex-row">
	{{ table(page.table) }}
	</div>
</section>