{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}

{% set page = pages.login %}


<section class="page-login">
	<form class="form flex-column box" novalidate>
		<div class="login-content flex flex-column">
			<div>
				<div class="flex-row flex-center">
					<h1 class="visually-hidden">{{ page.title }}</h1>
					<img class="logo" src="/assets/images/logos/emerix.png" alt="">
				</div>
				<div class="form-group">
					<p>{{ page.page_3.key_title }}</p>
					{{ input({
						'id': "login_key",
						'error': 'La clave ingresada es incorrecta.'
						})
					}}
				</div>
				<div class="form-group">
					<div class="text-right">
						<a href="#" class="text-silver" data-dialog-target="{{ page.page_3.key_dialog }}">{{ page.page_3.key_problem }}</a>
					</div>
				</div>

			</div>
			<div>
				<div class="form-group">
					{{ input({
						'type': "checkbox",
						'id': "login_tyc",
						'label': page.page_3.tyc
						})
					}}
				</div>
				<div class="flex-row flex-center">
					<button class="btn secondary" data-direction="back">{{ page.page_3.back }}</button>
					<button class="btn" data-direction="next">{{ page.page_3.submit }}</button>
				</div>
			</div>
		</div>
	</form>
</section>

{% from "components/_dialogs.njk" import dialog %}

{{ dialog(page.dialogs[2]) }}
{{ dialog(page.dialogs[3]) }}

<script>
	const HTML = document.querySelector('html')
	document.querySelector('[data-dialog-target="login-2"]').addEventListener('click', () => {
		HTML.classList.add('no-scroll')
		document.querySelectorAll('.overlay')[0].classList.add('active')
	})
	document.querySelector('[data-dialog-target="login-tyc"]').addEventListener('click', () => {
		HTML.classList.add('no-scroll')
		document.querySelectorAll('.overlay')[1].classList.add('active')
	})

	document.querySelectorAll('.overlay .close-btn').forEach((item) => {
		item.addEventListener('click', () => {
			document.querySelectorAll('.overlay').forEach((overlays) => {
				HTML.classList.remove('no-scroll')
				overlays.classList.remove('active')
			})
		})
	})
</script>