{% set page = pages.login %}
<section class="page-login">
	<div class="box">
		<form class="form flex-column">
			<div class="form-group">
				<input type="text" placeholder="{{ page.id_placeholder }}">
			</div>

			<div class="form-group">
				<p>{{ page.choose }}</p>
				<div class="flex-row flex-center">
					<div class="flex-column">
						<label for="login-method-call"><img src="{{ page.method_call }}"></label>
						<input type="radio" value="call" name="login-method" id="login-method-call">
					</div>
					<div class="flex-column">
						<label for="login-method-sms"><img src="{{ page.method_sms }}"></label>
						<input type="radio" value="sms" name="login-method" id="login-method-sms">
					</div>
				</div>
			</div>

			<div class="form-group">
				<p>{{ page.notes }}</p>

				<input type="text" >
				<p class="text-right"><a href="#">{{ page.help }}</a></p>
			</p>

			<div class="form-group">
				<input type="checkbox" id="login-accept">
				<label for="login-accept">{{ page.accept }}</label>
			</div>

			<button class="btn">{{ page.submit }}</button>
		</form>
	</div>
</section>