{% from "../components/_selectableBox.njk" import selectableBox %}
{% from "../components/_price.njk" import price %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}

<section class="page-pay">
	{{ header({
        progress: 30,
		link: {
			href: '/pagar.html',
			text: 'volver a la pantalla anterior'
		}
	}) }}

    <div class="restrict-width">
        {{ title({
		    title: 'Pagar por monto',
            subtitle: '<span></span>Aboná el <strong>monto total de la deuda</strong> o <strong>ingresá otro monto</strong>, y luego hace clic en <strong>pagar ahora</strong>.'
	    }) }}

        {% call selectableBox({class: 'flex-column'}) %}
			<div class="flex-row flex-column-on-mobile col-container">
				<div class="box col-1-2 full-width-mobile">
					<span>Monto total de la deuda</span>
					<br>
					<span class="text-xlarge">{{ price("19959057") }}</span>
				</div>
				<div class="box col-1-2 full-width-mobile">
					<span>Ingresar otro monto</span>
					{{ input({
						placeholder: '$000'
					}) }}
				</div>
			</div>
        {% endcall %}
        <div>
            <button class="btn" data-next>Pagar ahora</button>
        </div>
    </div>
</section>

<script>
	const boxes = document.querySelectorAll('.selectable-box .box')

	document.querySelector('[data-next]').addEventListener('click', () => {
		if (boxes[0].classList.contains('active')) {
			window.location.href = '/pagar_3.html'
		} else {
			window.location.href = '/pagar_4.html'
		}
	})
</script>