{% from "../components/_selectableBox.njk" import selectableBox %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../components/_tables.njk" import table %}
{% from "../components/_price.njk" import price %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}


{% set "productos" = {
			"class": "disabled",
			"colsClasses": ["col-1-2", "col-1-2 text-right"],
			"header": [
				"Producto",
				"Monto a pagar"
			],
			"data": [
				["PRÉSTAMO 36 cuotas", "$19450,87"],
				["PRÉSTAMO 12 cuotas", "$19450,87"]
			]
} %}

<section class="page-pay pay_4">
	{{ header({
		progress: 70,
		link: {
			href: '/pagar_1.html',
			text: 'volver a la pantalla anterior'
		}
	}) }}

	<div class="restrict-width">
		{{ title({
			title: 'Confirmá el monto a pagar'
		}) }}
		<div class="flex-row col-container">
			<div class="box text-center col-1-2 full-width-mobile">
				<span class="text-violet"><strong>Monto a pagar</strong></span>
				<br>
				<span class="text-xlarge">{{ price("19959057") }}</span>
			</div>
		</div>
		<div class="box">
			{{ table(productos) }}
		</div>
		<p class="disclaimer">La distribución del monto se hará en base a los productos seleccionados.</p>

		<button class="btn" data-next>Confirmar</button>
	</div>
</section>
<script>
	const boxes = document.querySelectorAll('.selectable-box .box')

	document.querySelector('[data-next]').addEventListener('click', () => {
		window.location.href = '/pagar_5.html'
	})
</script>