{% from "../components/_selectableBox.njk" import selectableBox %}
{% from "../components/_dropdown.njk" import dropdown %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../components/_tables.njk" import table %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}


{% set "productos" = {
			"class": "selectable",
			"colsClasses": ["col-2-6", "col-2-6 text-center desktop-only", "col-1-6 text-center desktop-only", "col-1-6 text-right"],
			"header": [
				"Producto",
				"Monto adeudado",
				"Pago mínimo",
				"Monto a pagar"
			],
			"data": [
				["<img src='/assets/images/ui/tables/prestamos.svg' alt=''>&nbsp;PRÉSTAMO 36 cuotas", "01/10/20", "1 día", "$19450,87"],
				["<img src='/assets/images/ui/tables/seguros.svg' alt=''>&nbsp;PRÉSTAMO 12 cuotas", "12/10/20", "0", "<div class='input-wrapper text'><input id='' type='text' class='input-elem' placeholder='$2308,50' required=''></div>"],
				["<img src='/assets/images/ui/tables/tc.svg' alt=''>&nbsp;TC VISA 5400", "08/10/20", "2 días", "$19450,87"],
				["<img src='/assets/images/ui/tables/refinanciacion.svg' alt=''>&nbsp;TC MASTER 2431", "08/10/206", "20 días", "<div class='input-wrapper text error'><input id='' type='text' class='input-elem' value='$2308,50' required=''></div>"]
			]
} %}

<section class="page-pay">
	{{ header({
		progress: 30,
		link: {
			href: '/pagar.html',
			text: 'volver a la pantalla anterior'
		}
	}) }}

	<div class="restrict-width large">
		<div class="col-2-3 full-width-mobile">
		{{ title({
			title: 'Pagar por selección de productos',
			subtitle: '<span></span><strong>Seleccioná los productos</strong> que queres pagar, si el monto a pagar está habilitado para editar podés mantener el adeudado o ingresar uno nuevo.'
		}) }}
		</div>
	</div>
	<div class="restrict-width large flex-row col-container">
		<div class="col-2-3 box desktop-only">
			{{ table(productos, {'specialType': 'checkbox'}) }}
		</div>
		
		<div class="mobile-only">
			{% call selectableBox({class: 'flex-column special-mobile-selectable-box'}) %}
				<div class="box">
					{{ table({
							"data": [
								["<img style='vertical-align: middle' src='/assets/images/ui/tables/prestamos.svg' alt=''>&nbsp;<strong>PRÉSTAMO 36 cuotas</strong>"]
							]
						}, {'specialType': 'checkbox', "idPrepend": "tbl1"})
					}}
					<div>
						<div class="dropdown-card">
						{% call dropdown () %}
							<ul>
								<li class="flex-row">
									<div class="col-1-2">Monto adeudo</div>
									<div class="col-1-2 text-right">$2308,50</div>	
								</li>
								<li class="flex-row">
									<div class="col-1-2">Pago mínimo</div>
									<div class="col-1-2 text-right">$3200</div>
								</li>
							</ul>

						{% endcall %}
						</div>
						<ul>
							<li class="flex-row">
								<div class="col-1-2"><strong>Monto a pagar</strong></div>
								<div class="col-1-2 text-right"><div class='input-wrapper text'><input id='' type='text' class='input-elem' value='$2308,50' required=''></div></div>
							</li>


						</ul>
					</div>
				</div>
				<div class="box">
					{{ table({
							"data": [
								["<img style='vertical-align: middle' src='/assets/images/ui/tables/prestamos.svg' alt=''>&nbsp;<strong>PRÉSTAMO 36 cuotas</strong>"]
							]
						}, {'specialType': 'checkbox', "idPrepend": "tbl2"})
					}}
					<div>
						<div class="dropdown-card">
						{% call dropdown () %}
							<ul>
								<li class="flex-row">
									<div class="col-1-2">Monto adeudo</div>
									<div class="col-1-2 text-right">$2308,50</div>	
								</li>
								<li class="flex-row">
									<div class="col-1-2">Pago mínimo</div>
									<div class="col-1-2 text-right">$3200</div>
								</li>
							</ul>

						{% endcall %}
						</div>
						<ul>
							<li class="flex-row">
								<div class="col-1-2"><strong>Monto a pagar</strong></div>
								<div class="col-1-2 text-right"><div class='input-wrapper text error'><input id='' type='text' class='input-elem' value='$2308,50' required=''></div></div>
							</li>


						</ul>
					</div>
				</div>
        	{% endcall %}
		</div>

		<div class="flex-column col-1-3 full-width-mobile">
			<div class="flex-column row-container">
				<div class="box flex-row justify-between">
					<span class="text-uppercase">monto final</span>
					<br>
					<span><strong>$0,00</strong></span>
				</div>
			</div>
			<div class="error-box">
				El monto a pagar no puede ser menor al pago mínimo.
			</div>
			<div>
				<button class="btn" data-next>pagar ahora</button>
			</div>
		</div>
	</div>
</section>
<script>
	const boxes = document.querySelectorAll('.selectable-box .box')

	document.querySelector('[data-next]').addEventListener('click', () => {
		window.location.href = '/pagar_5.html'
	})
</script>