{% from "../components/_tables.njk" import table %}
{% from "../components/_dialogs.njk" import dialog %}
{% from "../components/_breadcrumbs.njk" import breadcrumb %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}

{% set page = pages.pay_4 %}

{{ dialog(page.sidebar) }}

<section class="page-pay pay-third restrict-desktop">
	<h1>Comprobantes</h1>
    {% for item in page.tables%}
        {{ table(item, {
        }) }}
    {% endfor %}
</section>