{% from "../components/_tables.njk" import table %}
{% from "../components/_dialogs.njk" import dialog %}
{% from "../components/_breadcrumbs.njk" import breadcrumb %}

{% set page = pages.pay_1 %}

{{ dialog(page.sidebar) }}

<section class="page-pay pay-second">
	<div class="flex-row flex-center">
		<h1 class="flex-grow">{{ page.title }}</h1>
		<div>{{ breadcrumb({
			'items': ['item1', 'item2', 'item3', 'item4'],
			'index': 2,
			'title': 'Elegí el medio de pago'
		}) }}</div>
	</div>
	<h2>Pago electrónico</h2>
	<p>Seleccioná el medio de pago por el que optás y luego presioná continuar.</p>
	<div class="payment-selector box">
		<ul class="flex-row">
			<li class="flex-column flex-center active"><img src="/assets/images/logos/mercadopago.svg" alt=""></li>
			<li class="flex-column flex-center"><img src="/assets/images/logos/visa.svg" alt=""></li>
			<li class="flex-column flex-center"><img src="/assets/images/logos/mastercard.svg" alt=""></li>
			<li class="flex-column flex-center"><img src="/assets/images/logos/amex.svg" alt=""></li>
			<li class="flex-column flex-center"><img src="/assets/images/logos/generic.svg" alt=""></li>
			<li class="flex-column flex-center"><img src="/assets/images/logos/generic.svg" alt=""></li>
		</ul>
	</div>
	<h2>Transferencia o depósito</h2>
	<p>Seleccioná la cuenta por la que optás y luego presioná continuar para registrar el pago. Si aún no lo realizaste se te va generar una promesa de pago por 24hs.</p>
	<div class="flex-row">
		<div class="box">
			<img src="https://placekitten.com/250/65" alt="" class="img-responsive">
			<p>
				Nombre: Empresa Emerix<br>
				N° Cuenta 567-778-9<br>
				Alias Supervielle.paga
			</p>
		</div>
		<div class="box">
			<img src="https://placekitten.com/250/65" alt="" class="img-responsive">
			<p>
				Nombre: Empresa Emerix<br>
				N° Cuenta 567-778-9<br>
				Alias Supervielle.paga
			</p>
		</div>
	</div>
</section>