{% from "../components/_selectableBox.njk" import selectableBox %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../components/_tables.njk" import table %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}


{% set "productos" = {
			"class": "selectable",
			"colsClasses": ["col-3-6", "col-1-6 text-center desktop-only", "col-1-4 text-center desktop-only", "col-2-6 text-right"],
			"header": [
				"Producto",
				"Vencimiento",
				"Atraso",
				"Monto adeudado"
			],
			"data": [
				["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/prestamos.svg' alt=''>&nbsp;PRÉSTAMO 36 cuotas", "01/10/20", "1 día", "$19450,87"],
				["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/seguros.svg' alt=''>&nbsp;PRÉSTAMO 12 cuotas", "12/10/20", "0", "$19450,87"],
				["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/tc.svg' alt=''>&nbsp;TC VISA 5400", "08/10/20", "2 días", "$19450,87"],
				["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/tc.svg' alt=''>&nbsp;TC MASTER 2431", "08/10/20", "4 días", "$19450,87"],
				["<img style='float: left; vertical-align: middle' src='/assets/images/ui/tables/refinanciacion.svg' alt=''>&nbsp;TC MASTER 2431", "08/10/206", "20 días", "$19450,87"]
			]
} %}

<section class="page-promises promises_1">
	{{ header({
		progress: 30,
		link: {
			href: '/prometer.html',
			text: 'volver a la pantalla anterior'
		}
	}) }}

	<div class="restrict-width">
		{{ title({
			title: 'Generar promesa por selección de productos',
			subtitle: '<span></span><strong>Seleccioná los productos</strong> que queres pagar, elegí cuando te comprometes a abonarlo (<strong>periodo</strong>) y luego hace clic en <strong>generar promesa</strong>.'
		}) }}
	</div>
	<div class="restrict-width large flex-row">
		
		<div class="col-2-3">
			{{ table(productos, {'specialType': 'checkbox'}) }}
		</div>
		<div class="flex-column col-1-3">
			{% call selectableBox({class: 'flex-column'}) %}
				<div class="box">
					{{ select({
						'id': '',
						'items': ['24hs', '48hs', '72hs', 'Elegir fecha'],
						'placeholder': 'PERIODO'
					}) }}
				</div>
				<div class="box flex-row">
					<p>monto final</p>
					<p>$0,00</p>
				</div>
			{% endcall %}

			<div>
				<button class="btn" data-next>Generar promesa</button>
			</div>
		</div>
	</div>
</section>
<script>
	const boxes = document.querySelectorAll('.selectable-box .box')

	document.querySelector('[data-next]').addEventListener('click', () => {
		window.location.href = '/prometer_4.html'
	})
</script>