{% from "../components/_selectableBox.njk" import selectableBox %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../components/_tables.njk" import table %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}


{% set "productos" = {
			"class": "selectable",
			"colsClasses": ["col-3-6", "col-1-6 text-center desktop-only", "col-1-4 text-center desktop-only", "col-2-6 text-right"],
			"header": [
				"Producto",
				"Monto adeudaa pagardo"
			],
			"data": [
				["PRÉSTAMO 36 cuotas", "$19450,87"],
				["PRÉSTAMO 12 cuotas", "$19450,87"]
			]
} %}

<section class="page-promises promises_1">
	{{ header({
		progress: 70,
		link: {
			href: '/prometer_1.html',
			text: 'volver a la pantalla anterior'
		}
	}) }}

	<div class="restrict-width">
		{{ title({
			title: 'Confirmá el monto y el plazo de pago'
		}) }}
		<div class="flex-row">
			<div class="box text-center col-1-2">
				<p>Monto prometido</p>
				<p class="text-xlarge">$19959057</p>
			</div>
			<div class="box text-center col-1-2">
				<p>Vencimiento</p>
				<p class="text-xlarge">24Hs</p>
			</div>
		</div>
		<div>
			{{ table(productos) }}
		</div>
		<p>La distribución del importe se hace por productos en base los días de mora, una vez cubierto el monto automaticamente contempla el siguiente producto hasta cubrir el importe ingresado.</p>

		<button class="btn" data-next>Confirmar</button>
	</div>
</section>
<script>
	const boxes = document.querySelectorAll('.selectable-box .box')

	document.querySelector('[data-next]').addEventListener('click', () => {
		window.location.href = '/prometer_exito.html'
	})
</script>