{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}
{% from "../structure/_success.njk" import success %}
{% from "../components/_breadcrumbs.njk" import breadcrumb %}

<section class="page-pay pay-success">
	{{ header({
		section: 'Prometer una fecha'
	}) }}

    <div class="">
        {{ title({
		    title: 'Generar una promesa de pago',
            subtitle: 'Elegí cómo querés generar la promesa de pago, tenes 2 opciones:'
	    }) }}
    </div>

    {{ success({
        title: '¡El pago se realizó con éxito!',
        subtitle: 'Ingresando a la opción <a href="#">Actividad</a> podés acceder a los comprobantes de pago.'
    }) }}
</section>