{% from "../components/_tables.njk" import table %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}

{% set logs = {
		"class": "selectable logs-table",
		"colsClasses": ["flex-column"],
		"header": [
			"Fecha",
			"Productos",
			"Estado",
			"Monto a pagar"
		],
		"data": [
			["<div class='table-data flex-row full-width'><div>12/10/2020</div><div>3</div><div>vence hoy</div><div>$19450,87</div></div>"],
			["<div class='table-data flex-row full-width'><div>12/10/2020</div><div>3</div><div>vence hoy</div><div>$19450,87</div></div>"],
			["<div class='table-data flex-row full-width'><div>12/10/2020</div><div>3</div><div>vence hoy</div><div>$19450,87</div></div>"],
			["<div class='table-data flex-row full-width'><div>12/10/2020</div><div>3</div><div>vence hoy</div><div>$19450,87</div></div>"]
		],
		"expanded_data": [
			["<div class='overview flex-column full-width'><div class='flex-row full-width flex-column-on-mobile'><div class='col-1-2 text-small full-width-mobile'><ul class='full-width flex-row'><li class='full-width'><strong class='text-violet'>Productos incluidos</strong></li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC VISA 5400</li><li class='col-1-2 text-right'>$19450,87</li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC MASTER 2200</li><li class='col-1-2 text-right'>$44434,55</li></ul></div></div><div class='flex-row full-width flex-end last-row'><button class='btn secondary active'>Pagar ahora</button></div></div>"],
			["<div class='overview flex-column full-width'><div class='flex-row full-width flex-column-on-mobile'><div class='col-1-2 text-small full-width-mobile'><ul class='full-width flex-row'><li class='full-width'><strong class='text-violet'>Productos incluidos</strong></li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC VISA 5400</li><li class='col-1-2 text-right'>$19450,87</li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC MASTER 2200</li><li class='col-1-2 text-right'>$44434,55</li></ul></div></div><div class='flex-row full-width flex-end last-row'><button class='btn secondary active'>Pagar ahora</button></div></div>"],
			["<div class='overview flex-column full-width'><div class='flex-row full-width flex-column-on-mobile'><div class='col-1-2 text-small full-width-mobile'><ul class='full-width flex-row'><li class='full-width'><strong class='text-violet'>Productos incluidos</strong></li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC VISA 5400</li><li class='col-1-2 text-right'>$19450,87</li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC MASTER 2200</li><li class='col-1-2 text-right'>$44434,55</li></ul></div></div><div class='flex-row full-width flex-end last-row'><button class='btn secondary active'>Pagar ahora</button></div></div>"],
			["<div class='overview flex-column full-width'><div class='flex-row full-width flex-column-on-mobile'><div class='col-1-2 text-small full-width-mobile'><ul class='full-width flex-row'><li class='full-width'><strong class='text-violet'>Productos incluidos</strong></li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC VISA 5400</li><li class='col-1-2 text-right'>$19450,87</li></ul><ul class='full-width flex-row'><li class='col-1-2'>TC MASTER 2200</li><li class='col-1-2 text-right'>$44434,55</li></ul></div></div><div class='flex-row full-width flex-end last-row'><button class='btn secondary active'>Pagar ahora</button></div></div>"]
		]
	}
%}

<section class="page-logs">
	{{ header({
		section: 'Promesas hechas'
	}) }}

	<div class="restrict-width">
		{{ title({
			title: 'Consultá las promesas de pago que realizaste',
			subtitle: '<span></span>Podés ver el detalle si no recordás lo prometido y pagar si aún están vigente.'
		}) }}
		<div class="box box-table-container">
			{{ table(logs) }}
		</div>
	</div>
</section>

<script>
	const TRs = document.querySelectorAll('.logs-table tr:not(.table-header)')
		
	TRs.forEach((tr) => {
		tr.addEventListener('click', () => {
			TRs.forEach((outsideTRs) => {outsideTRs.classList.remove('active')})
			tr.classList.add('active')
		})
	})
</script>