{% from "../components/_selectableBox.njk" import selectableBox %}
{% from "../components/_forms.njk" import input %}
{% from "../components/_forms.njk" import select %}
{% from "../structure/_header.njk" import header %}
{% from "../structure/_title.njk" import title %}

<section class="page-promises promises_1">
	{{ header({
		link: {
			href: '/prometer.html',
			text: 'volver a la pantalla anterior'
		}
	}) }}

    <div class="restrict-width">
        {{ title({
		    title: 'Generar promesa por monto',
            subtitle: '<span></span>Comprometeté a abonar el <strong>monto total de la deuda</strong> o <strong>ingresá otro monto</strong>, elegí cuando vas a efectuar el pago (<strong>periodo</strong>) y luego hace clic en <strong>generar promesa</strong>.'
	    }) }}
        <div>
            <button class="btn" data-next>Generar promesa</button>
        </div>
    </div>
</section>
